.app-download__title {
  color: @dark-gray;
  font-size: 20px;
  font-weight: @font-weight-demi;
  @media @landscape {
    font-size: 18px;
  }
  @media @mobile {
    font-size: 16px;
  }
}

a.app-download__image {
  display: inline-block;
  &:first-of-type {
    margin-right: 16px;
    @media @portrait {
      margin-right: 14px;
    }
    @media @mobile {
      margin-right: 12px;
    }
  }

  img {
    width: 180px;
    height: auto;
    @media @portrait {
      width: 160px;
    }
    @media @mobile {
      width: 140px;
    }
    @media only screen and (max-width: 320px) {
      width: 125px;
    }
  }
}
