.comp__featured-product-banner {
  .component-reset();
  position: relative;

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    align-items: stretch;
    overflow: hidden;
    @media @laptop {
      column-gap: 70px;
    }
    @media @landscape {
      column-gap: 60px;
    }
    @media @portrait {
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  }

  .grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    @media @portrait {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }

  .grid-item-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    @media @portrait {
      grid-row-start: 3;
      grid-row-end: 5;
    }
  }

  .grid-item-3 {
    width: 560px;
    display: grid;
    justify-content: end;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 2;
    position: relative;
    min-height: 810px;
    @media @laptop {
      width: auto;
      grid-column-start: 1;
      grid-column-end: 3;
      padding-left: 100px;
      min-height: 710px;
    }
    @media @landscape {
      min-height: 615px;
      padding-left: 40px;
    }
    @media @portrait {
      min-height: 0;
      height: auto;
      padding-left: 35px;
      padding-right: 35px;
    }
    @media @mobile {
      padding-left: 35px;
      padding-right: 35px;
    }
    .grid-item__copy {
      padding-top: 125px;
      padding-bottom: 125px;
      @media @laptop {
        padding-top: 100px;
        padding-bottom: 100px;
      }
      @media @portrait {
        padding-top: 90px;
        padding-bottom: 90px;
      }
      @media @mobile {
        padding-top: 65px;
        padding-bottom: 65px;
      }
    }
  }

  .grid-item-4 {
    width: 540px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 2;
    @media @laptop {
      width: auto;
      grid-column-start: 1;
      grid-column-end: 3;
      padding-left: 100px;
    }
    @media @landscape {
      padding-left: 40px;
    }
    @media @portrait {
      min-height: 0;
      height: auto;
      grid-row-start: 4;
      grid-row-end: 5;
      padding-left: 35px;
      padding-right: 35px;
    }
    @media @mobile {
      padding-left: 35px;
      padding-right: 35px;
    }

    .grid-item__copy {
      padding-top: 125px;
      padding-bottom: 85px;
      @media @laptop {
        padding-top: 115px;
        padding-bottom: 75px;
      }
      @media @landscape {
        padding-top: 100px;
        padding-bottom: 65px;
      }
      @media @portrait {
        padding-top: 75px;
        padding-bottom: 35px;
      }
      @media @mobile {
        padding-top: 65px;
        padding-bottom: 25px;
      }
    }
  }

  .grid-item-5 {
    width: 540px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 2;
    padding-left: 0;
    align-self: center;
    @media @laptop {
      width: auto;
      grid-column-start: 3;
      grid-column-end: 5;
      padding-right: 100px;
    }
    @media @landscape {
      padding-right: 40px;
    }
    @media @portrait {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 4;
      padding-left: 35px;
      padding-right: 35px;
    }
    @media @mobile {
      padding-left: 30px;
      padding-right: 30px;
    }

    .banner-image-overlay {
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      display: block;
      @media @portrait {
        height: 750px;
      }
      @media @mobile {
        height: 565px;
      }
    }
  }

  .button-row {
    @media @portrait {
      .flex-wrap(wrap);
    }
  }

  .dynamic-width-button {
    @media only screen and (max-width: 480px) {
      display: block;
      width: 100%;
    }
  }

  .dynamic-width-button:last-child {
    margin-left: 14px;
    @media only screen and (max-width: 480px) {
      margin-left: 0;
    }
  }
}
