.comp__footer {
  .box-size();
  position: relative;
  height: auto;
  margin: 0 auto;
  padding: 0;
  color: @white;
  background-color: @navy-blue;

  .footer__main {
    width: 100vw;
    .outer-gutter();
    position: relative;
    height: auto;
    margin: 0 auto;
    padding: 0;
    @media @laptop {
      padding-left: 50px;
      padding-right: 50px;
    }
    @media @landscape {
      padding: 30px 35px;
      display: block;
    }
    @media @portrait {
      padding: 30px 30px;
    }
    @media @mobile {
      padding: 25px 25px;
    }
  }

  .footer__secondary {
    width: 100vw;
    .outer-gutter();
    position: relative;
    @media @laptop {
      padding-left: 50px;
      padding-right: 50px;
    }
    @media @landscape {
      padding: 0px 35px;
    }
    @media @portrait {
      padding: 0px 30px;
      display: block;
    }
    @media @mobile {
      padding: 0px 25px;
    }
  }

  .footer {
    .make-col-span(12);
    .flexbox();
    .flex-direction(row);
    .justify-content(space-between);
    margin: auto;
    position: relative;
    @media @portrait {
      display: block;
    }
  }

  .footer__menu--primary {
      .make-col-span(9.6);
      .flexbox();
      max-width: 80%;
      padding-top: 65px;
      padding-bottom: 65px;
      @media @landscape {
        .make-col-span(9);
        max-width: 75%;
        padding-top: 40px;
        padding-bottom: 0;
      }
      @media @portrait {
        .make-col-span(12);
        max-width: 100%;
        width: 100%;
        border-right: 0;
        display: block;
        position: relative;
        padding-top: 0;
      }

      &.footer__menu--solo {
        max-width: 100%;
        border-right: 0 none;
      }
    }

  .footer__menu--secondary {
      max-width: 20%;
      text-align: right;
      padding-top: 65px;
      padding-bottom: 65px;
      @media @landscape {
        padding-top: 40px;
        padding-bottom: 0;
      }
      @media @portrait {
        .flexbox();
        .align-items(center);
        .justify-content(space-between);
        .flex-wrap(wrap);
        .make-col-span(12);
        max-width: 100%;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 0;
      }
      @media @mobile {
        display: block;
        position: relative;
        text-align: right;
      }
    }

  .menu__col {
    .make-col-span(4);
    max-width: 25%;
    padding-right: 3%;
    @media @portrait {
      max-width: 100%;
      width: 100%;
      padding: 0;
    }

    h6 {
      font-size: 14px;
      font-weight: @font-weight-demi;
      margin-bottom: 1rem;
      text-transform: none;
      @media @portrait {
        padding: 16px 8px 16px 0px;
        margin-bottom: 0;
        cursor: pointer;
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      @media @portrait {
        display: none;
        padding-bottom: 8px;
      }
    }

    li {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    a {
      color: @white;
      font-size: 14px;
      font-weight: 400;
      &:hover {
        text-decoration: underline;
      }
    }

    .menu__expander {
      @media @portrait {
        display: inline-block;
        float: right;
      }
    }

    i {
      display: none;
      @media @portrait {
        &.is-active {
          display: inline-block;
        }
      }
    }
  }

  .subcol__el {
    p {
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 8px;
    }
    @media @portrait {
      span {
        display: block;
        margin-top: 8px;
      }
    }
  }

  .menu__subcol {
    &:first-of-type {
      margin-bottom: 3.5rem;
      @media @portrait {
        margin-bottom: initial;
      }
    }
  }

  .footer__social-media {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 25px;
    @media @portrait {
      width: 130px;
    }
  }

  .social-media__links {
    .flexbox();
    .align-items(center);
    .justify-content(space-between);
    margin: 0 auto;

    a {
      text-align: center;
      position: relative;
      i {
        color: white;
        font-size: @font-size-p;
      }
    }
  }

  .footer__contact {
    > h6 {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .contact__el {
      p {
        font-size: 14px;
        margin-bottom: 0;
        color: @white;
        line-height: 1.35rem;
        @media @portrait {
          display: inline;
        }
        @media @mobile {
          font-size: 12px;
        }
      }
    }
    @media @portrait {
      text-align: left;
      &:last-child {
        width: 100%;
      }
    }
  }

  .footer__contact {
    a.dynamic-width-button {
      margin-top: 0;
    }
  }

  .footer__contact.dynamic-width-button--ghost {
    margin-bottom: 30px;
  }

  .footer__copyright {
    text-align: left;
    border-top: 1px solid @white;

    h6 {
      font-size: 12px;
      margin-bottom: 0;
      line-height: 50px;
      vertical-align: middle;
      @media @portrait {
        line-height: 40px;
      }
    }
  }
}
