.gated-assets-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: @z-index-modal-bg;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;

  &.fade {
    opacity: 0;
  }

  &.in {
    opacity: @modal-overlay-opacity;
  }

  @media @mobile {
    z-index: 0;
    display: none;
    &.fade {
      opacity: 0;
    }
    &.in {
      opacity: 0 !important;
    }
  }
}

.gated-assets {

  .gated-assets-flyout {
    overflow-y: scroll;
    overflow-x: clip;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: @z-index-modal;
    width: 600px;
    height: 100vh;
    background-color: @white;
    transition: 0.5s transform;
    transition-timing-function: cubic-bezier(.38,.52,.37,1);
    opacity: 1;
    display: block;
    &.animate {
      transform: translateX(-100vw);
      box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.75);
    }
    @media @laptop {
      width: 500px;
    }
    @media @mobile {
      width: 100vw;
      height: 100vh;
    }

    .gated-assets-form {
      color: @dark-gray;

      p {
        margin-bottom: 20px;
        @media @laptop {
          margin-bottom: 15px;
        }
        @media @mobile {
          margin-bottom: 10px;
        }
      }

      ul {
        margin-bottom: 35px;
        padding-inline-start: 0;
        list-style-type: none;
        padding: 0;
      }

      input,
      select {
        background-color: @atmospheric-white;
        font-size: @font-size-p;
        box-shadow: none;
      }

      input[type="text"],
      select {
        .kill-webkit();
        border: 1px solid @light-gray;
        border-radius: 0;
        margin-bottom: 0;
        padding: 10px 12px;
        width: 100%;
        line-height: inherit;
      }

      input[type="checkbox"],
      input[type="radio"] {
        margin-bottom: 0;
        width: auto;
        height: auto;
        position: relative;
        left: unset;
        top: 2px;
      }

      select {
        background: url('../img/down-caret-dark-grey.svg') no-repeat;
        background-color: @off-white;
        background-position: right 12px top 10px;
        background-size: 17px;
      }

      p {
        position: relative;

        > a {
          color: @electric-blue;
          text-decoration: underline;
        }
      }

      .form-el-row {
        .flexbox();
        .justify-content(space-between);
        .align-items(center);

        &.radios {
          .justify-content(flex-start);
        }

        @media @mobile {
          .flex-wrap(wrap);
        }
      }

      .form__el--100 {
        width: 100%;
      }

      .form__el--50 {
        width: 49%;
        @media @mobile {
          width: 100%;
          display: block;
        }
      }

      .form__el--66 {
        width: 65%;
        @media @mobile {
          width: 100%;
          display: block;
        }
      }

      .form__el--33 {
        width: 33%;
        @media @mobile {
          width: 100%;
          display: block;
        }
      }

      .form__el--inline {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }

      .label {
        font-size: 16px;
        font-weight: @font-weight-regular;
        color: @dark-gray;
        text-transform: none;
        @media @laptop {
          font-size: 14px;
        }
      }

      .checkbox-label {
        font-size: 14px;
        font-weight: @font-weight-regular;
        color: @dark-gray;
        padding-left: 7px;
        > a {
          color: @electric-blue;
          text-decoration: underline;
          &:hover {
            cursor: pointer;
          }
          &:visited {
            color: @electric-blue;
          }
        }
        @media @mobile {
          font-size: 12px;
        }
      }

      .label--block {
        display: block;
      }

      .label--inline {
        display: inline;
      }

      .disclaimer {
        font-size: 12px;
        line-height: 16px;
        color: @dark-gray;
        margin-top: 12px;
      }

      .cookie-statement {
        font-size: 14px;
        line-height: 20px;
        color: @charcoal-gray;
        margin-bottom: 20px;
      }

      .error {
        font-size: 14px;
        font-weight: @font-weight-demi;
        color: #ed002a;
        display: none;
        &.is-active {
          display: block;
        }
      }

      .gated-assets-form__main {
        padding: 40px 40px;
        padding-bottom: 87px;
        @media @laptop {
          padding: 35px 25px;
          padding-bottom: 77px;
        }
        @media @mobile {
          padding: 30px 20px;
        }
      }

      .gated-assets-form__footer {
        position: sticky;
        right: 0;
        bottom: 0;
        width: 600px;
        padding: 20px 40px;
        z-index: 5051;
        background-color: white;
        border-top: 1px solid @light-gray;
        @media @laptop {
          width: 500px;
          padding: 15px 25px
        }
        @media @mobile {
          width: 100vw;
          padding: 15px 20px;
        }
      }

      .dynamic-width-button--solid {
        .solid-button(@white, @electric-blue, @white);
        line-height: 1;
        margin-top: 0 !important;
      }
    }

    .gated-assets-form__header {
      .flexbox();
      .justify-content(space-between);
      .align-items(center);
      margin-bottom: 30px;
      line-height: 1;

      .title {
        color: @navy-blue;
        font-size: 30px;
        font-weight: @font-weight-regular;
        @media @laptop {
          font-size: 24px;
        }
        @media @mobile {
          font-size: 20px;
        }
      }

      .material-icons {
        color: @electric-blue;
        font-size: 40px;
        &:hover {
          cursor: pointer;
        }
        @media @laptop {
          font-size: 35px;
        }
        @media @mobile {
          font-size: 30px;
        }
      }
    }

    .gated-assets-form__subheader {
      color: @dark-gray;
      font-size: 18px;
      font-weight: @font-weight-demi;
      margin-top: 30px;
      margin-bottom: 20px;
      @media @laptop {
        font-size: 18px;
      }
      @media @mobile {
        font-size: 16px;
      }
    }
  }
}
