.comp__gateway-page {

  .gateway-page__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: @z-index-modal-bg;
    background-color: @white;
    opacity: @modal-overlay-opacity;
    display: none;

    &.fade {
      opacity: 0;
    }
  }

  .gateway-page__modal {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: @z-index-modal;
    opacity: 1;
    background-color: @white;
    display: none;
  }

  .outer-gutter {
    @media @laptop {
      padding-left: 0;
      padding-right: 0;
    }
    @media @landscape {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media @portrait {
      padding-left: 35px;
      padding-right: 35px;
    }
    @media @mobile {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .logo {
    width: 100%;
    padding-top: 50px;
    margin-bottom: 15px;
    @media @portrait {
      padding-top: 70px;
    }
    @media @mobile {
      padding-top: 40px;
    }

    a {
      display: block;
      width: 100%;
    }

    img {
      height: 25px;
      @media @landscape {
        height: 18px;
      }
    }
  }

  .row.main-content {
    .flexbox();
    .flex-wrap(nowrap);
    .justify-content(space-between);
    .box-size();
    position: fixed;
    top: 50%;
    left: 50%;
    .translate(-50%, -50%);
    z-index: @z-index-modal;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    @media @laptop {
      padding-left: 0;
      padding-right: 0;
    }
    @media @landscape {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media @portrait {
      padding-left: 35px;
      padding-right: 35px;
    }
    @media @mobile {
      .flex-wrap(wrap);
      position: relative;
      top: 0;
      left: 0;
      .translate(0%, 0%);
      margin-top: 30px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .panel--60 {
    padding-right: 100px;
    @media @landscape {
      padding-right: 35px;
    }
    @media @portrait {
      padding-right: 20px;
    }
    @media @mobile {
      .make-col-span(12);
      max-width: 100%;
      padding-right: 0;
    }
  }

  .panel--40 {
    @media @mobile {
      display: none;
    }
  }

  .panel__content {
    height: 100%;
  }

  .panel__copy {
    .vertical-align();

    h2 {
      color: @navy-blue;
      font-weight: @font-weight-demi;
    }

    @media only screen and (min-width: 1025px) and (max-width: 1366px) {
      padding-top: 10px;

      p.supertitle,
      p.large.supertitle {
        font-size: 16px;
        margin-bottom: 25px;
      }

      h2 {
        font-size: 52px;
        line-height: 56px;
        margin-bottom: 25px;
      }

      p {
        margin-bottom: 25px;
      }
    }
  }

  .gateway-page__links {
    .flexbox();
    .justify-content(space-between);
    .flex-wrap(nowrap);
    @media @portrait {
      .flex-wrap(wrap);
    }
  }

  .dynamic-width-button {
    width: 49%;
    text-transform: none;
    @media @portrait {
      width: 100%;
    }
  }

  figure {
    height: 730px;
    @media @landscape {
      height: 600px;
    }
    @media @portrait {
      height: 400px;
    }
    @media @mobile {
      display: none;
    }
  }
}
