.comp__multi-column-mixed-content {
  .component-reset();

  .grid-container {
    overflow-y: hidden;
  }

  &.img-height--tall {
    .one-col {
      .figure,
      video {
        height: 600px;
        @media @landscape {
          height: 500px;
        }
        @media @portrait {
          height: 425px;
        }
        @media @mobile {
          height: 400px;
        }
      }
    }
    .two-col {
      .figure,
      video {
        height: 600px;
        @media @landscape {
          height: 500px;
        }
        @media @portrait {
          height: 425px;
        }
        @media @mobile {
          height: 400px;
        }
      }
    }
    .three-col {
      .figure,
      video {
        height: 400px;
        @media @landscape {
          height: 325px;
        }
        @media @portrait {
          height: 350px;
        }
        @media @mobile {
          height: 300px;
        }
      }
    }
    .four-col {
      .figure,
      video {
        height: 300px;
        @media @landscape {
          height: 245px;
        }
        @media @portrait {
          height: 300px;
        }
        @media @mobile {
          height: 250px;
        }
      }
    }
  }

  &.img-height--short {
    .one-col {
      .figure,
      video {
        height: 400px;
        @media @landscape {
          height: 375px;
        }
        @media @portrait {
          height: 325px;
        }
      }
    }
    .two-col {
      .figure,
      video {
        height: 400px;
        @media @landscape {
          height: 375px;
        }
        @media @portrait {
          height: 325px;
        }
      }
    }
    .three-col {
      .figure,
      video {
        height: 300px;
        @media @landscape {
          height: 275px;
        }
        @media @portrait {
          height: 250px;
        }
        @media @mobile {
          height: 225px;
        }
      }
    }
    .four-col {
      .figure,
      video {
        height: 200px;
        @media @portrait {
          height: 180px;
        }
      }
    }
  }

  .one-col {
    grid-template-columns: 1fr;
    row-gap: 30px;

    .figure,
    video {
      max-width: 100%;
      display: block;
      position: relative;
    }

    .caption {
      background-color: @cobalt-blue;
      color: @white;
      font-size: 30px;
      padding: 20px 33px;
      position: absolute;
      left: 0;
      top: 75px;
      @media @landscape {
        font-size: 24px;
        padding: 18px 24px;
        top: 60px;
      }
      @media @portrait {
        font-size: 18px;
        padding: 14px 20px;
        top: 40px;
      }
      @media @mobile {
        font-size: 14px;
        padding: 12px 16px;
        top: 25px;
      }
    }

    .copy {
      margin-top: 30px;
    }

    .video-icon {
      .video-icon-lg();
      @media @landscape {
        .video-icon-md();
      }
      @media @mobile {
        .video-icon-sm();
      }
    }
  }

  .two-col {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    @media @landscape {
      column-gap: 45px;
    }
    @media @portrait {
      column-gap: 20px;
    }
    @media @mobile {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }

    .figure,
    video {
      max-width: 100%;
      display: block;
      position: relative;
    }

    .caption {
      background-color: @cobalt-blue;
      color: @white;
      font-size: 22px;
      padding: 20px 30px;
      position: absolute;
      left: 0;
      top: 60px;
      @media @landscape {
        top: 45px;
      }
      @media @portrait {
        font-size: 16px;
        padding: 12px 16px;
        top: 30px;
      }
      @media @mobile {
        font-size: 14px;
        top: 25px;
      }
    }

    .copy {
      margin-top: 30px;
    }

    .video-icon {
      .video-icon-lg();
      @media @landscape {
        .video-icon-md();
      }
      @media @mobile {
        .video-icon-sm();
      }
    }
  }

  .three-col {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
    @media @landscape {
      column-gap: 35px;
    }
    @media @portrait {
      grid-template-columns: 1fr;
      row-gap: 35px;
    }

    .figure,
    video {
      max-width: 100%;
      display: block;
      position: relative;
    }

    .caption {
      background-color: @cobalt-blue;
      color: @white;
      font-size: 14px;
      padding: 12px 16px;
      position: absolute;
      left: 0;
      top: 40px;
      @media @landscape {
        top: 25px;
      }
    }

    .copy {
      margin-top: 25px;
    }

    .video-icon {
      .video-icon-md();
      @media @mobile {
        .video-icon-sm();
      }
    }
  }

  .four-col {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
    @media @landscape {
      column-gap: 20px;
    }
    @media @portrait {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
    }
    @media @mobile {
      grid-template-columns: 1fr;
    }

    .figure,
    video {
      position: relative;
      max-width: 100%;
      display: block;
    }

    .caption {
      background-color: @cobalt-blue;
      color: @white;
      font-size: 14px;
      padding: 12px 16px;
      position: absolute;
      left: 0;
      top: 40px;
      @media @landscape {
        top: 25px;
      }
    }

    .copy {
      margin-top: 20px;
    }

    .video-icon {
      .video-icon-md();
      @media @mobile {
        .video-icon-sm();
      }
    }
  }
}
