.comp__social-media-sharing {
  .component-reset();

  .row {
    .flex-wrap(nowrap);
    padding: 20px 0;
    @media @mobile {
      .flex-wrap(wrap);
    }
  }

  .social-media-sharing__links {
    .flexbox();
    .flex-wrap(nowrap);
    .align-items(center);
    @media @mobile {
      width: 100%;
    }
    p {
      display: inline;
      font-weight: 500;
      color: @dark-gray;
      margin-bottom: 0;
      line-height: 0;
    }

    a {
      font-size: 16px;
      color: @navy-blue;
      line-height: 0;
      margin-bottom: 0;
      margin-left: 15px;
      &:hover {
        cursor: pointer;
        color: @electric-blue;
      }
      > .material-icons {
        font-size: 16px;
      }
      &:first-of-type {
        margin-left: 11px;
      }
    }
  }

  .social-media-sharing__links + .social-media-sharing__links {
    margin-left: 40px;
    @media @mobile {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}
