.stats {
  .copy {
    text-align: left !important;
  }

  h1 > span,
  h2 > span,
  h3 > span,
  h4 > span,
  h5 > span,
  h6 > span {
    font-weight: @font-weight-thin;
    line-height: 70px;
  }

  &.color--electric-blue {
    h1 > span,
    h2 > span,
    h3 > span,
    h4 > span,
    h5 > span,
    h6 > span {
      color: @electric-blue;
    }
  }

  &.color--navy-blue {
    h1 > span,
    h2 > span,
    h3 > span,
    h4 > span,
    h5 > span,
    h6 > span {
      color: @navy-blue;
    }
  }

  &.color--dark-blue {
    h1 > span,
    h2 > span,
    h3 > span,
    h4 > span,
    h5 > span,
    h6 > span {
      color: @dark-blue;
    }
  }

  &.color--medium-blue {
    h1 > span,
    h2 > span,
    h3 > span,
    h4 > span,
    h5 > span,
    h6 > span {
      color: @medium-blue;
    }
  }

  .stats__text-size--xl {
    font-size: 140px;
    @media @landscape {
      font-size: 120px;
    }
  }

  .stats__text-size--lg {
    font-size: 120px;
    @media @landscape {
      font-size: 90px;
    }
  }

  .stats__text-size--md {
    font-size: 100px;
    @media @landscape {
      font-size: 75px;
    }
  }

  .stats__text-size--sm {
    font-size: 80px;
    @media @landscape {
      font-size: 60px;
    }
  }
}
