.comp__tabbed-content-with-large-image {
  .component-reset();
  color: @charcoal-gray;

  .tabbed-content__image {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 450px;
    margin-bottom: 55px;
    @media @laptop {
      margin-bottom: 45px;
    }
    @media @landscape {
      height: 400px;
      margin-bottom: 35px;
    }
    @media @portrait {
      height: 315px;
      margin-bottom: 40px;
    }
    @media @mobile {
      height: 250px;
      margin-bottom: 35px;
    }
  }

  .tabbed-content-tabs {
    .make-col-span(12);
    .flexbox();
    .justify-content(space-between);
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 75px;
    @media @laptop {
      margin-bottom: 65px;
    }
    @media @landscape {
      margin-bottom: 55px;
    }
    @media @portrait {
      margin-bottom: 0;
    }

    .tab {
      text-align: center;
      border-bottom: 5px solid @pale-gray;
      cursor: pointer;
      &.is-active {
        border-bottom: 5px solid @charcoal-gray;
      }
      @media @portrait {
        display: none;
        border-bottom: 0 none;
      }
    }

    &.tabs--3 {
      .tab {
        .make-col-span(4);
        max-width: 33.33333334%;
      }
    }

    &.tabs--2 {
      .tab {
        .make-col-span(6);
        max-width: 50%;
      }
    }
  }

  .tab__title.lg-screens {
    margin-bottom: 25px;
    @media @laptop {
      margin-bottom: 20px;
    }
    @media @landscape {
      margin-bottom: 15px;
    }
    @media @portrait {
      display: none;
    }
  }

  .tab__title.sm-screens {
    display: none;
    @media @portrait {
      display: block;
      margin-bottom: 25px;
    }
  }

  .tabbed-content-container {
    text-align: center;
    display: none;
    &.is-active {
      display: block;
    }

    @media @portrait {
      display: block !important;
    }
  }

  .tabbed-content__content {
    max-width: 930px;
    margin: 0 auto;
    @media @laptop {
      max-width: 842px;
    }
    @media @landscape {
      max-width: 748px;
    }
    @media @portrait {
      max-width: 100%;
      padding: 0 35px;
    }
    @media @mobile {
      padding: 0 25px;
    }
  }

  .tab__copy {
    @media @portrait {
      margin-bottom: 40px;
    }
    @media @mobile {
      margin-bottom: 30px;
    }
  }
}
