.comp__tall-image-with-text {
  .component-reset();

  .fill-space {
    width: 100%;
    height: 100%;
  }

  .modular-image,
  .modular-copy {
    height: 100%;
  }

  .row {
    .outer-gutter();
    .make-col-span(12);
    .box-size();
    @media @laptop {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media @portrait {
      .make-col-span(12);
      .flex-wrap(wrap);
    }
  }

  .panel--50 {
    @media @portrait {
      .make-col-span(12);
      max-width: 100%;
    }
  }

  .copy {
    .align-self(center);
    padding-right: 80px;
    @media @laptop {
      padding-right: 75px;
    }
    @media @landscape {
      padding-right: 60px;
    }
    @media @portrait {
      padding-right: 0;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media @mobile {
      padding-right: 0;
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }

  .modular-copy {
    .flexbox();
    position: relative;
    height: 100%;
  }

  .modular-image {
    position: relative;
    max-width: 100%;
    height: 100%;
    width: 100%;
    max-width: 85%;
    margin: unset;
    @media @portrait {
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
    }
  }

  .figure {
    .align-self(center);
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
  }

  .video-icon {
    .video-icon-lg();
    @media @landscape {
      .video-icon-md();
    }
    @media @mobile {
      .video-icon-sm();
    }
  }

  &.img-height--tall {
    .modular-image,
    .modular-image video {
      height: 670px;
      @media @laptop {
        height: 670px;
      }
      @media @landscape {
        height: 650px;
      }
      @media @portrait {
        height: 550px;
      }
      @media @mobile {
        height: 400px;
      }
    }
  }
  &.img-height--short {
    .modular-image,
    .modular-image video {
      height: 425px;
      @media @laptop {
        height: 425px;
      }
      @media @landscape {
        height: 425px;
      }
      @media @portrait {
        height: 450px;
      }
      @media @mobile {
        height: 275px;
      }
    }
  }
  &.img-shape--circle {
    &.circle--left {
      .modular-image {
        margin-left: 0;
      }
    }
    &.circle--right {
      .modular-image {
        margin-left: 15%;
        @media @portrait {
          margin-left: 0;
        }
      }
    }
    .modular-image {
      .flexbox();
      .align-items(center);
    }
    .figure,
    .figure img,
    video {
      border-radius: 50% 50%;
      overflow: hidden;
      height: 500px;
      width: 500px;
      @media @laptop {
        height: 400px;
        width: 400px;
      }
      @media @landscape {
        height: 375px;
        width: 375px;
      }
      @media @portrait {
        height: 450px;
        width: 450px;
        text-align: left;
      }
      @media @mobile {
        height: 315px;
        width: 315px;
        margin: 0 auto;
      }
      @media only screen and (max-width:399px) {
        height: 275px;
        width: 275px;
      }
      @media only screen and (max-width: 350px) {
        height: 240px;
        width: 240px;
      }
    }
  }

  .dynamic-width-button {
    margin-top: 15px;
    @media @portrait {
      margin-top: 10px;
    }
  }

  .animation-element {
    position: relative;
    z-index: 1;
  }

  .bounce-up .bounce-up-target {
    opacity: 0;
    -moz-transition: all 1000ms ease-out;
    -webkit-transition: all 1000ms ease-out;
    -o-transition: all 1000ms ease-out;
    transition: all 1000ms ease-out;
    -moz-transform: translate3d(0px, 400px, 0px);
    -webkit-transform: translate3d(0px, 400px, 0px);
    -o-transform: translate(0px, 400px);
    -ms-transform: translate(0px, 400px);
    transform: translate3d(0px, 400px, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    @media @portrait {
      opacity: 1;
      -moz-transition: none;
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
      -moz-transform: none;
      -webkit-transform: none;
      -o-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }

  .bounce-up.in-view .bounce-up-target {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    @media @portrait {
      -moz-transform: none;
      -webkit-transform: none;
      -o-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }

}
