.background-position(center) {
  background-position: 50% 50% !important;
}

.background-position(left) {
  background-position: 75% 75% !important;
}

.background-position(right) {
  background-position: 25% 25% !important;
}
