.flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-direction(@val) {
  -webkit-flex-direction: @val;
     -moz-flex-direction: @val;
      -ms-flex-direction: @val;
          flex-direction: @val;
}

.justify-content(@val) {
  -webkit-justify-content: @val;
     -moz-justify-content: @val;
      -ms-justify-content: @val;
          justify-content: @val;
}

.flex-wrap(@val) {
  -webkit-flex-wrap: @val;
     -moz-flex-wrap: @val;
      -ms-flex-wrap: @val;
          flex-wrap: @val;
}

.flex-flow(@val) {
  -webkit-flex-flow: @val;
     -moz-flex-flow: @val;
      -ms-flex-flow: @val;
          flex-flow: @val;
}

.align-items(@val) {
  -webkit-align-items: @val;
     -moz-align-items: @val;
      -ms-align-items: @val;
          align-items: @val;
}

.align-content(@val) {
  -webkit-align-content: @val;
     -moz-align-content: @val;
      -ms-align-content: @val;
          align-content: @val;
}

.order(@num) {
  -webkit-order: @num;
     -moz-order: @num;
      -ms-order: @num;
          order: @num;
}

.flex-basis(@val) {
  -webkit-flex-basis: @val;
     -moz-flex-basis: @val;
      -ms-flex-basis: @val;
          flex-basis: @val;
}

.flex-grow(@num) {
  -webkit-flex-grow: @num;
     -moz-flex-grow: @num;
      -ms-flex-grow: @num;
          flex-grow: @num;
}

.flex-shrink(@num) {
  -webkit-flex-shrink: @num;
     -moz-flex-shrink: @num;
      -ms-flex-shrink: @num;
          flex-shrink: @num;
}

.align-self(@val) {
  -webkit-align-self: @val;
     -moz-align-self: @val;
      -ms-align-self: @val;
          align-self: @val;
}
