.font-size-h1() {
  font-size: 75px;
  line-height: 75px;
  font-weight: @font-weight-demi;
  margin-bottom: 40px;
  @media @laptop {
    font-size: 65px;
    line-height: 65px;
  }
  @media @landscape {
    font-size: 52px;
    line-height: 52px;
    margin-bottom: 35px;
  }
  @media @portrait {
    font-size: 45px;
    line-height: 45px;
  }
  @media @mobile {
    font-size: 40px;
    line-height: 40px;
  }
}

.font-size-h2() {
  font-size: 55px;
  line-height: 55px;
  font-weight: @font-weight-demi;
  margin-bottom: 40px;
  @media @laptop {
    font-size: 50px;
    line-height: 50px;
  }
  @media @landscape {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 35px;
  }
  @media @portrait {
    font-size: 32px;
    line-height: 34px;
  }
  @media @mobile {
    font-size: 30px;
    line-height: 32px;
  }
}

.font-size-h3() {
  font-size: 40px;
  line-height: 40px;
  font-weight: @font-weight-demi;
  margin-bottom: 25px;
  @media @laptop {
    font-size: 36px;
    line-height: 38px;
  }
  @media @landscape {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  @media @portrait {
    font-size: 24px;
    line-height: 26px;
  }
}

.font-size-h4() {
  font-size: 30px;
  line-height: 32px;
  font-weight: @font-weight-demi;
  margin-bottom: 25px;
  @media @laptop {
    font-size: 28px;
    line-height: 30px;
  }
  @media @landscape {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  @media @portrait {
    font-size: 22px;
    line-height: 24px;
  }
}

.font-size-h5() {
  font-size: 22px;
  line-height: 24px;
  font-weight: @font-weight-demi;
  margin-bottom: 20px;
  @media @laptop {
    font-size: 20px;
    line-height: 22px;
  }
  @media @mobile {
    font-size: 18px;
    line-height: 20px;
  }
}
