// 1 column layout (100%)
.panel-100() {
  .make-col-span(12);
  max-width: 100%;
}

.panel-66() {
  .make-col-span(8);
  max-width: 66.66%;
}

.panel-60() {
  .make-col-span(7.2);
  max-width: 60%;
}

// 2 column layout
.panel-50() {
  .make-col-span(6);
  .flexbox();
  max-width: 50%;
}

.panel-40() {
  .make-col-span(4.8);
  max-width: 40%;
}

// 3 column layout
.panel-33() {
  .make-col-span(4);
  max-width: 33.33%;
}

// 4 column layout standard
.panel-25() {
  .make-col-span(3);
  max-width: 25%;
}

// 5 column layout
.panel-20() {
  .make-col-span(2.4);
  max-width: 20%;
}
