.theme--white() {
  background-color: @white;

  h1, h1 > p,
  h2, h2 > p,
  h3, h3 > p {
    color: @navy-blue;
  }

  h4, h4 > p {
    color: @navy-blue;
    font-weight: 600;
  }

  h5, h5 > p,
  h6, h6 > p {
    color: @dark-gray;
  }

  .alt-title {
    color: @medium-gray;
  }

  .title-link {
    color: @dark-gray;
  }

  p {
    color: @dark-gray;
  }

  p > a {
    color: @electric-blue;
    &:hover,
    &:visited {
      color: @electric-blue;
    }
  }

  ul, li {
    color: @medium-gray;
  }

  li > a {
    color: @medium-gray;
    &:visited {
      color: @medium-gray;
    }
  }

  .list {
    li,
    li > a {
      color: @medium-gray;
    }

    &.list--circle-icon {
      li {
        .material-icons {
          color: @medium-gray;
        }
      }
    }
  }

  .modular-copy.stylized-list ul li:before {
    color: @electric-blue;
  }

  .section-link {
    color: @electric-blue;
  }

  .cta-link {
    color: @electric-blue;
  }

  a.dynamic-width-button--solid,
  button.dynamic-width-button--solid,
  span.dynamic-width-button--solid {
    .solid-button(@white, @electric-blue, @white);
  }

  .dynamic-width-button--solid {
    a.dynamic-width-button,
    button.dynamic-width-button,
    span.dynamic-width-button {
      .solid-button(@white, @electric-blue, @white);
    }
  }

  a.full-width-button--solid,
  button.full-width-button--solid,
  span.full-width-button--solid {
    .solid-button(@white, @electric-blue, @white);
  }

  .full-width-button--solid {
    a.full-width-button,
    button.full-width-button,
    span.full-width-button {
      .solid-button(@white, @electric-blue, @white);
    }
  }

  a.dynamic-width-button--ghost,
  button.dynamic-width-button--ghost,
  span.dynamic-width-button--ghost {
    .ghost-button(@electric-blue, inherit, @white);
  }

  .dynamic-width-button--ghost {
    a.dynamic-width-button,
    button.dynamic-width-button,
    span.dynamic-width-button {
      .ghost-button(@electric-blue, inherit, @white);
    }
  }

  a.full-width-button--ghost,
  button.full-width-button--ghost,
  span.full-width-button--ghost {
    .ghost-button(@electric-blue, inherit, @white);
  }

  .full-width-button--ghost {
    a.full-width-button,
    button.full-width-button,
    span.full-width-button {
      .ghost-button(@electric-blue, inherit, @white);
    }
  }

  &.alt-button-styles--orange {
    .section-link {
      color: @orange;
    }

    .cta-link {
      color: @orange;
    }

    a.dynamic-width-button--solid,
    button.dynamic-width-button--solid,
    span.dynamic-width-button--solid {
      .solid-button(@white, @orange, @white);
    }

    .dynamic-width-button--solid {
      a.dynamic-width-button,
      button.dynamic-width-button,
      span.dynamic-width-button {
        .solid-button(@white, @orange, @white);
      }
    }

    a.full-width-button--solid,
    button.full-width-button--solid,
    span.full-width-button--solid {
      .solid-button(@white, @orange, @white);
    }

    .full-width-button--solid {
      a.full-width-button,
      button.full-width-button,
      span.full-width-button {
        .solid-button(@white, @orange, @white);
      }
    }

    a.dynamic-width-button--ghost,
    button.dynamic-width-button--ghost,
    span.dynamic-width-button--ghost {
      .ghost-button(@navy-blue, inherit, @white);
    }

    .dynamic-width-button--ghost {
      a.dynamic-width-button,
      button.dynamic-width-button,
      span.dynamic-width-button {
        .ghost-button(@navy-blue, inherit, @white);
      }
    }

    a.full-width-button--ghost,
    button.full-width-button--ghost,
    span.full-width-button--ghost {
      .ghost-button(@navy-blue, inherit, @white);
    }

    .full-width-button--ghost {
      a.full-width-button,
      button.full-width-button,
      span.full-width-button {
        .ghost-button(@navy-blue, inherit, @white);
      }
    }
  }
}

.theme--atmospheric-white() {
  background-color: @atmospheric-white;

  h1, h1 > p,
  h2, h2 > p,
  h3, h3 > p {
    color: @navy-blue;
  }

  h4, h4 > p {
    color: @navy-blue;
    font-weight: 600;
  }

  h5, h5 > p,
  h6, h6 > p {
    color: @dark-gray;
  }

  .alt-title {
    color: @dark-gray;
  }

  .title-link {
    color: @dark-gray;
  }

  p {
    color: @dark-gray;
  }

  p > a {
    color: @electric-blue;
    &:hover,
    &:visited {
      color: @electric-blue;
    }
  }

  ul, li {
    color: @medium-gray;
  }

  li > a {
    color: @medium-gray;
    &:visited {
      color: @medium-gray;
    }
  }

  .list {
    li,
    li > a {
      color: @medium-gray;
    }

    &.list--circle-icon {
      li {
        .material-icons {
          color: @medium-gray;
        }
      }
    }
  }

  .modular-copy.stylized-list ul li:before {
    color: @electric-blue;
  }

  .section-link {
    color: @electric-blue;
  }

  .cta-link {
    color: @electric-blue;
  }

  a.dynamic-width-button--solid,
  button.dynamic-width-button--solid,
  span.dynamic-width-button--solid {
    .solid-button(@white, @electric-blue, inherit);
  }

  .dynamic-width-button--solid {
    a.dynamic-width-button,
    button.dynamic-width-button,
    span.dynamic-width-button {
      .solid-button(@white, @electric-blue, inherit);
    }
  }

  a.full-width-button--solid,
  button.full-width-button--solid,
  span.full-width-button--solid {
    .solid-button(@white, @electric-blue, inherit);
  }

  .full-width-button--solid {
    a.full-width-button,
    button.full-width-button,
    span.full-width-button {
      .solid-button(@white, @electric-blue, inherit);
    }
  }

  a.dynamic-width-button--ghost,
  button.dynamic-width-button--ghost,
  span.dynamic-width-button--ghost {
    .ghost-button(@electric-blue, inherit, @white);
  }

  .dynamic-width-button--ghost {
    a.dynamic-width-button,
    button.dynamic-width-button,
    span.dynamic-width-button {
      .ghost-button(@electric-blue, inherit, @white);
    }
  }

  a.full-width-button--ghost,
  button.full-width-button--ghost,
  span.full-width-button--ghost {
    .ghost-button(@electric-blue, inherit, @white);
  }

  .full-width-button--ghost {
    a.full-width-button,
    button.full-width-button,
    span.full-width-button {
      .ghost-button(@electric-blue, inherit, @white);
    }
  }

  &.alt-button-styles--orange {
    .section-link {
      color: @orange;
    }

    .cta-link {
      color: @orange;
    }

    a.dynamic-width-button--solid,
    button.dynamic-width-button--solid,
    span.dynamic-width-button--solid {
      .solid-button(@white, @orange, @white);
    }

    .dynamic-width-button--solid {
      a.dynamic-width-button,
      button.dynamic-width-button,
      span.dynamic-width-button {
        .solid-button(@white, @orange, @white);
      }
    }

    a.full-width-button--solid,
    button.full-width-button--solid,
    span.full-width-button--solid {
      .solid-button(@white, @orange, @white);
    }

    .full-width-button--solid {
      a.full-width-button,
      button.full-width-button,
      span.full-width-button {
        .solid-button(@white, @orange, @white);
      }
    }

    a.dynamic-width-button--ghost,
    button.dynamic-width-button--ghost,
    span.dynamic-width-button--ghost {
      .ghost-button(@navy-blue, inherit, @white);
    }

    .dynamic-width-button--ghost {
      a.dynamic-width-button,
      button.dynamic-width-button,
      span.dynamic-width-button {
        .ghost-button(@navy-blue, inherit, @white);
      }
    }

    a.full-width-button--ghost,
    button.full-width-button--ghost,
    span.full-width-button--ghost {
      .ghost-button(@navy-blue, inherit, @white);
    }

    .full-width-button--ghost {
      a.full-width-button,
      button.full-width-button,
      span.full-width-button {
        .ghost-button(@navy-blue, inherit, @white);
      }
    }
  }
}

.theme--navy-blue() {
  background-color: @navy-blue;

  h1, h1 > p,
  h2, h2 > p,
  h3, h3 > p,
  h4, h4 > p,
  h5, h5 > p,
  h6, h6 > p {
    color: @white;
  }

  .alt-title {
    color: @light-blue;
  }

  .title-link {
    color: @white;
  }

  p {
    color: @white;
  }

  p > a {
    color: @white;
    &:hover,
    &:visited {
      color: @white;
    }
  }

  ul, li {
    color: @white;
  }

  li > a {
    color: @white;
    &:visited {
      color: @white;
    }
  }

  .list {
    li,
    li > a {
      color: @white;
    }

    &.list--circle-icon {
      li {
        .material-icons {
          color: @white;
        }
      }
    }
  }

  .section-link {
    color: @white;
  }

  .cta-link {
    color: @white;
  }

  a.dynamic-width-button--solid,
  button.dynamic-width-button--solid,
  span.dynamic-width-button--solid {
    .solid-button(@electric-blue, @white, inherit);
  }

  .dynamic-width-button--solid {
    a.dynamic-width-button,
    button.dynamic-width-button,
    span.dynamic-width-button {
      .solid-button(@electric-blue, @white, inherit);
    }
  }

  a.full-width-button--solid,
  button.full-width-button--solid,
  span.full-width-button--solid {
    .solid-button(@electric-blue, @white, inherit);
  }

  .full-width-button--solid {
    a.full-width-button,
    button.full-width-button,
    span.full-width-button {
      .solid-button(@electric-blue, @white, inherit);
    }
  }

  a.dynamic-width-button--ghost,
  button.dynamic-width-button--ghost,
  span.dynamic-width-button--ghost {
    .ghost-button(@white, inherit, @electric-blue);
  }

  .dynamic-width-button--ghost {
    a.dynamic-width-button,
    button.dynamic-width-button,
    span.dynamic-width-button {
      .ghost-button(@white, inherit, @electric-blue);
    }
  }

  a.full-width-button--ghost,
  button.full-width-button--ghost,
  span.full-width-button--ghost {
    .ghost-button(@white, inherit, @electric-blue);
  }

  .full-width-button--ghost {
    a.full-width-button,
    button.full-width-button,
    span.full-width-button {
      .ghost-button(@white, inherit, @electric-blue);
    }
  }

  &.alt-button-styles--orange {
    .section-link {
      color: @orange;
    }

    .cta-link {
      color: @orange;
    }

    a.dynamic-width-button--solid,
    button.dynamic-width-button--solid,
    span.dynamic-width-button--solid {
      .solid-button(@white, @orange, @white);
    }

    .dynamic-width-button--solid {
      a.dynamic-width-button,
      button.dynamic-width-button,
      span.dynamic-width-button {
        .solid-button(@white, @orange, @white);
      }
    }

    a.full-width-button--solid,
    button.full-width-button--solid,
    span.full-width-button--solid {
      .solid-button(@white, @orange, @white);
    }

    .full-width-button--solid {
      a.full-width-button,
      button.full-width-button,
      span.full-width-button {
        .solid-button(@white, @orange, @white);
      }
    }
  }
}

.theme--electric-blue() {
  background-color: @electric-blue;

  h1, h1 > p,
  h2, h2 > p,
  h3, h3 > p,
  h4, h4 > p,
  h5, h5 > p,
  h6, h6 > p {
    color: @white;
  }

  .alt-title {
    color: @light-blue;
  }

  .title-link {
    color: @white;
  }

  p {
    color: @white;
  }

  p > a {
    color: @white;
    &:hover,
    &:visited {
      color: @white;
    }
  }

  ul, li {
    color: @white;
  }

  li > a {
    color: @white;
    &:visited {
      color: @white;
    }
  }

  .list {
    li,
    li > a {
      color: @white;
    }

    &.list--circle-icon {
      li {
        .material-icons {
          color: @white;
        }
      }
    }
  }

  .section-link {
    color: @white;
  }

  .cta-link {
    color: @white;
  }

  a.dynamic-width-button--solid,
  button.dynamic-width-button--solid,
  span.dynamic-width-button--solid {
    .solid-button(@electric-blue, @white, inherit);
  }

  .dynamic-width-button--solid {
    a.dynamic-width-button,
    button.dynamic-width-button,
    span.dynamic-width-button {
      .solid-button(@electric-blue, @white, inherit);
    }
  }

  a.full-width-button--solid,
  button.full-width-button--solid,
  span.full-width-button--solid {
    .solid-button(@electric-blue, @white, inherit);
  }

  .full-width-button--solid {
    a.full-width-button,
    button.full-width-button,
    span.full-width-button {
      .solid-button(@electric-blue, @white, inherit);
    }
  }

  a.dynamic-width-button--ghost,
  button.dynamic-width-button--ghost,
  span.dynamic-width-button--ghost {
    .ghost-button(@white, inherit, @electric-blue);
  }

  .dynamic-width-button--ghost {
    a.dynamic-width-button,
    button.dynamic-width-button,
    span.dynamic-width-button {
      .ghost-button(@white, inherit, @electric-blue);
    }
  }
  a.full-width-button--ghost,
  button.full-width-button--ghost,
  span.full-width-button--ghost {
    .ghost-button(@white, inherit, @electric-blue);
  }

  .full-width-button--ghost {
    a.full-width-button,
    button.full-width-button,
    span.full-width-button {
      .ghost-button(@white, inherit, @electric-blue);
    }
  }

  &.alt-button-styles--orange {
    .section-link {
      color: @orange;
    }

    .cta-link {
      color: @orange;
    }

    a.dynamic-width-button--solid,
    button.dynamic-width-button--solid,
    span.dynamic-width-button--solid {
      .solid-button(@white, @orange, @white);
    }

    .dynamic-width-button--solid {
      a.dynamic-width-button,
      button.dynamic-width-button,
      span.dynamic-width-button {
        .solid-button(@white, @orange, @white);
      }
    }

    a.full-width-button--solid,
    button.full-width-button--solid,
    span.full-width-button--solid {
      .solid-button(@white, @orange, @white);
    }

    .full-width-button--solid {
      a.full-width-button,
      button.full-width-button,
      span.full-width-button {
        .solid-button(@white, @orange, @white);
      }
    }
  }
}

.theme--black() {
  background-color: @black;

  h1, h1 > p,
  h2, h2 > p,
  h3, h3 > p,
  h4, h4 > p,
  h5, h5 > p,
  h6, h6 > p {
    color: @white;
  }

  .alt-title {
    color: @light-blue;
  }

  .title-link {
    color: @white;
  }

  p {
    color: @white;
  }

  p > a {
    color: @white;
    &:hover,
    &:visited {
      color: @white;
    }
  }

  ul, li {
    color: @white;
  }

  li > a {
    color: @white;
    &:visited {
      color: @white;
    }
  }

  .list {
    li,
    li > a {
      color: @white;
    }

    &.list--circle-icon {
      li {
        .material-icons {
          color: @white;
        }
      }
    }
  }

  .section-link {
    color: @white;
  }

  .cta-link {
    color: @white;
  }

  a.dynamic-width-button--solid,
  button.dynamic-width-button--solid,
  span.dynamic-width-button--solid {
    .solid-button(@white, @electric-blue, @white);
  }

  .dynamic-width-button--solid {
    a.dynamic-width-button,
    button.dynamic-width-button,
    span.dynamic-width-button {
      .solid-button(@white, @electric-blue, @white);
    }
  }

  a.full-width-button--solid,
  button.full-width-button--solid,
  span.full-width-button--solid {
    .solid-button(@white, @electric-blue, @white);
  }

  .full-width-button--solid {
    a.full-width-button,
    button.full-width-button,
    span.full-width-button {
      .solid-button(@white, @electric-blue, @white);
    }
  }

  a.dynamic-width-button--ghost,
  button.dynamic-width-button--ghost,
  span.dynamic-width-button--ghost {
    .ghost-button(@white, inherit, @electric-blue);
  }

  .dynamic-width-button--ghost {
    a.dynamic-width-button,
    button.dynamic-width-button,
    span.dynamic-width-button {
      .ghost-button(@white, inherit, @electric-blue);
    }
  }

  a.full-width-button--ghost,
  button.full-width-button--ghost,
  span.full-width-button--ghost {
    .ghost-button(@white, inherit, @electric-blue);
  }

  .full-width-button--ghost {
    a.full-width-button,
    button.full-width-button,
    span.full-width-button {
      .ghost-button(@white, inherit, @electric-blue);
    }
  }

  &.alt-button-styles--orange {
    .section-link {
      color: @orange;
    }

    .cta-link {
      color: @orange;
    }

    a.dynamic-width-button--solid,
    button.dynamic-width-button--solid,
    span.dynamic-width-button--solid {
      .solid-button(@white, @orange, @white);
    }

    .dynamic-width-button--solid {
      a.dynamic-width-button,
      button.dynamic-width-button,
      span.dynamic-width-button {
        .solid-button(@white, @orange, @white);
      }
    }

    a.full-width-button--solid,
    button.full-width-button--solid,
    span.full-width-button--solid {
      .solid-button(@white, @orange, @white);
    }

    .full-width-button--solid {
      a.full-width-button,
      button.full-width-button,
      span.full-width-button {
        .solid-button(@white, @orange, @white);
      }
    }
  }
}

.theme--invisible() {
  background-color: transparent;

  h1, h1 > p,
  h2, h2 > p,
  h3, h3 > p {
    color: @white;
  }

  h4, h4 > p {
    color: @white;
    font-weight: 600;
  }

  h5, h5 > p,
  h6, h6 > p {
    color: @white;
  }

  .alt-title {
    color: @white;
  }

  .title-link {
    color: @white;
  }

  p {
    color: @white;
  }

  p > a {
    color: @white;
    &:hover,
    &:visited {
      color: @white;
    }
  }

  ul, li {
    color: @white;
  }

  li > a {
    color: @white;
    &:visited {
      color: @white;
    }
  }

  .list {
    li,
    li > a {
      color: @white;
    }

    &.list--circle-icon {
      li {
        .material-icons {
          color: @white;
        }
      }
    }
  }

  .modular-copy.stylized-list ul li:before {
    color: @white;
  }

  .section-link {
    color: @white;
  }

  .cta-link {
    color: @white;
  }

  a.dynamic-width-button--solid,
  button.dynamic-width-button--solid,
  span.dynamic-width-button--solid {
    .solid-button(@white, @white, @white);
  }

  .dynamic-width-button--solid {
    a.dynamic-width-button,
    button.dynamic-width-button,
    span.dynamic-width-button {
      .solid-button(@white, @white, @white);
    }
  }

  a.full-width-button--solid,
  button.full-width-button--solid,
  span.full-width-button--solid {
    .solid-button(@white, @white, @white);
  }

  .full-width-button--solid {
    a.full-width-button,
    button.full-width-button,
    span.full-width-button {
      .solid-button(@white, @white, @white);
    }
  }

  a.dynamic-width-button--ghost,
  button.dynamic-width-button--ghost,
  span.dynamic-width-button--ghost {
    .ghost-button(@white, @white, @white);
  }

  .dynamic-width-button--ghost {
    a.dynamic-width-button,
    button.dynamic-width-button,
    span.dynamic-width-button {
      .ghost-button(@white, @white, @white);
    }
  }

  a.full-width-button--ghost,
  button.full-width-button--ghost,
  span.full-width-button--ghost {
    .ghost-button(@white, @white, @white);
  }

  .full-width-button--ghost {
    a.full-width-button,
    button.full-width-button,
    span.full-width-button {
      .ghost-button(@white, @white, @white);
    }
  }

  .dynamic-width-button--invisible {
    .invisible-button(@white, @black);
    padding: 14px 32px;
    @media @mobile {
      padding: 12px 28px;
    }
  }

  * {
    color: @white;
    border-color: @white;
    box-shadow: none !important;
  }
}
