// Transitions
.transition(@property, @timing, @animation) {
  -webkit-transition: @property @timing @animation;
  -moz-transition: @property @timing @animation;
  -ms-transition: @property @timing @animation;
  -o-transition: @property @timing @animation;
  transition: @property @timing @animation;
}

// Mostly used for hover effects
.ease-color() {
  .transition(color, 0.3s, ease-in-out);
}

.ease-bg() {
  .transition(background-color, 0.3s, ease-in-out);
}

.ease-all() {
  .ease-color();
  .ease-bg();
}
