.coveo-visible-to-screen-reader-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.CoveoSearchInterface {
  font-family: 'Avenir Next World W05', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #3c3c3c;
}

.CoveoSearchInterface .coveo-facet-column {
  display: block;
}

@media only screen and (max-width: 768px) {
  .CoveoSearchInterface .coveo-facet-column {
    display: none;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    z-index: 1050;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    margin: 0 auto;
    margin-right: 0;
  }

  .CoveoSearchInterface .coveo-facet-column.facets-on-mobile {
    display: block;
    opacity: 1;
  }
}

@media (min-width: 800px) {
  .CoveoSearchInterface .coveo-facet-column {
    display: block;
    opacity: 1;
  }
}

.CoveoSearchInterface .coveo-facet-header-filter-by-container {
  display: block;
  background-color: #140F4B;
  color: #FFFFFF;
  padding: 25px;
  text-transform: uppercase;
  font-weight: 600;
}

.CoveoSearchInterface .coveo-facet-header-filter-by {
  font-size: 18px;
  font-size: 1.125rem;
  color: #FFFFFF;
  display: block;
}

.CoveoSearchInterface .coveo-facet-header {
  background-color: #FFFFFF;
  color: #3c3c3c;
  padding: 25px;
}

.CoveoSearchInterface .coveo-facet-footer {
  background-color: #FFFFFF;
  color: #3c3c3c;
}

.CoveoSearchInterface .searchWrapper {
  width: 100%;
  background-color: #FFFFFF !important;
}

.CoveoSearchInterface .CoveoSearchbox .magic-box {
  border: 1px solid #bfbfbf;
  border-radius: 40px;
  color: #3c3c3c;
  /* height: 54px; */
}
    @media only screen and (max-width: 768px) {
      .CoveoSearchInterface .CoveoSearchbox .magic-box {
        height: 50px;
      }
    }
    .CoveoSearchInterface .CoveoSearchbox .magic-box .magic-box-input {
      border-radius: 40px;
    }

    .CoveoSearchInterface .search-tips-container,
     .CoveoSearchInterface .search-tips-container a {
      padding-bottom: 20px;
      color: #140F4B;
    }
    .CoveoSearchInterface .search-tips {
      text-decoration: none;
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 600;
    }
    .CoveoSearchInterface .search-tips:hover,
    .CoveoSearchInterface .search-tips:focus {
      text-decoration: underline;
      cursor: pointer;
    }
    .CoveoSearchInterface .search-tips:hover > i,
    .CoveoSearchInterface .search-tips:focus > i {
      text-decoration: none !important;
    }
    .CoveoSearchInterface .search-tips .mi {
      position: relative;
      top: 1px;
      margin-right: 4px;
    }
    .CoveoSearchInterface .search-tips:hover {
      cursor: pointer;
    }
    .CoveoSearchInterface .coveo-tab-section {
      display: none;
    }
    .CoveoSearchInterface .coveo-search-section {
      max-width: 100%;
      margin: 0 auto;
      padding: 0;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .CoveoSearchInterface .CoveoSearchButton {
      background-color: transparent;
      border: 0 none;
      border-radius: 0;
      position: absolute;
      left: 11px;
      top: 4px;
      color: #3c3c3c !important;
    }
    @media only screen and (max-width: 768px) {
      .CoveoSearchInterface .CoveoSearchButton {
        height: 50px;
        width: 50px;
      }
    }
    .CoveoSearchInterface .coveo-search-button-svg {
      color: #555555 !important;
    }
    .CoveoSearchInterface .coveo-search-button-svg:hover,
    .CoveoSearchInterface .coveo-search-button-svg:visited,
    .CoveoSearchInterface .coveo-search-button-svg:active,
    .CoveoSearchInterface .coveo-search-button-svg:link {
      color: #555555;
    }
    .CoveoSearchInterface .CoveoSearchButton:hover .coveo-magnifier-circle-svg {
      fill: #555555;
      color: #555555;
    }
    .CoveoSearchInterface .CoveoQuerySummary {
      font-size: 18px;
      font-size: 1.125rem;
      color: #3c3c3c;
      font-weight: 400;
    }
    .CoveoSearchInterface .coveo-query-summary-no-results-string {
      font-size: 12px;
      color: #888B8D;
      font-weight: 400;
    }
    .CoveoSearchInterface .coveo-highlight,
    .CoveoSearchInterface .highlight {
      font-weight: 400;
    }
    .CoveoSearchInterface .coveo-results-header {
      box-shadow: none;
      padding-bottom: 20px;
      padding-top: 20px;
      padding-left: 0;
      padding-right: 0;
    }
    .CoveoSearchInterface .coveo-list-layout.CoveoResult {
      border-bottom: 0 none;
      padding: 0 0;
    }
    .CoveoSearchInterface .CoveoResultList {
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: 0;
      margin-right: 0;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .CoveoResultList {
        margin-top: 0;
      }
    }
    .CoveoSearchInterface a.CoveoResultLink {
      font-size: 20px;
      font-size: 1.25rem;
      color: #140F4B;
      font-weight: 600;
      text-decoration: underline;
    }
    .CoveoSearchInterface a.CoveoResultLink:visited,
    .CoveoSearchInterface a.CoveoResultLink:hover {
      text-decoration: underline;
      color: #140F4B;
    }
    .CoveoSearchInterface a.CoveoResultLink:hover {
      cursor: pointer;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface a.CoveoResultLink {
        font-size: 16px;
      }
    }
    .CoveoSearchInterface .CoveoPager {
      zoom: 1;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      padding-bottom: 70px;
      padding-top: 70px;
      padding-left: 20px;
      background-color: #FFFFFF;
    }
    .CoveoSearchInterface .CoveoPager:before,
    .CoveoSearchInterface .CoveoPager:after {
      content: " ";
      display: table;
    }
    .CoveoSearchInterface .CoveoPager:after {
      clear: both;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .CoveoPager {
        text-align: center;
        padding-top: 35px;
        padding-bottom: 35px;
      }
    }
    .CoveoSearchInterface .coveo-pager-list {
      display: inline-block;
      padding-left: 0;
      list-style-type: none;
      margin-bottom: 0;
      position: relative;
    }
    .CoveoSearchInterface .coveo-pager-list-item {
      margin: 0;
      padding: 0;
      border: 0 none;
      border-radius: 0px;
    }
    .CoveoSearchInterface .coveo-pager-list-item.coveo-active,
    .CoveoSearchInterface .coveo-pager-list-item:hover {
      color: #FFFFFF;
      background-color: #140F4B;
    }
    .CoveoSearchInterface .coveo-pager-list-item-text {
      position: relative;
      float: left;
      height: 55px;
      width: 55px;
      line-height: 55px;
      vertical-align: middle;
      text-align: center;
      color: #FFFFFF;
      background-color: #001E46;
      font-size: 1rem;
      font-weight: 600;
      margin-left: 1px;
      margin-bottom: 0;
      text-decoration: none;
    }
    .CoveoSearchInterface .coveo-pager-list-item-text:visited {
      color: #FFFFFF;
    }
    .CoveoSearchInterface .coveo-pager-list-item-text:hover {
      background-color: #140F4B;
      cursor: pointer;
    }
    .CoveoSearchInterface .coveo-pager-list-item-text.is-active {
      color: #FFFFFF;
      cursor: pointer;
      background-color: #140F4B;
    }
    .CoveoSearchInterface .coveo-pager-list-item-text.is-disabled {
      cursor: text;
    }
    .CoveoSearchInterface .coveo-pager-list-item-text.is-disabled:hover {
      cursor: text;
      background-color: #001E46;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .coveo-pager-list-item-text {
        height: 40px;
        width: 40px;
        line-height: 40px;
      }
    }
    .CoveoSearchInterface .coveo-pager-list-item:first-child > .coveo-pager-list-item-text {
      margin-left: 0px;
    }
    .CoveoSearchInterface .coveo-pager-list-item.coveo-active a,
    .CoveoSearchInterface .coveo-pager-list-item:hover a {
      color: #FFFFFF;
    }
    .CoveoSearchInterface .coveo-pager-previous.coveo-pager-list-item,
    .CoveoSearchInterface .coveo-pager-next.coveo-pager-list-item {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      height: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    .CoveoSearchInterface .coveo-pager-previous.coveo-pager-list-item {
      left: -40px;
    }
    .CoveoSearchInterface .coveo-pager-previous.coveo-pager-list-item.coveo-active,
    .CoveoSearchInterface .coveo-pager-next.coveo-pager-list-item.coveo-active,
    .CoveoSearchInterface .coveo-pager-previous.coveo-pager-list-item:hover,
    .CoveoSearchInterface .coveo-pager-next.coveo-pager-list-item:hover {
      color: #001E46;
      background-color: #FFFFFF;
    }
    .CoveoSearchInterface .coveo-pager-next-icon-svg,
    .CoveoSearchInterface .coveo-pager-previous-icon-svg {
      color: #001E46;
    }
    .CoveoSearchInterface .coveo-facet-header-title {
      font-size: 16px;
      font-size: 1rem;
      color: #3c3c3c;
      font-weight: 600;
      font-family: 'Effra';
      margin-bottom: 0px;
    }
    .CoveoSearchInterface .coveo-facet-values {
      padding: 0px 0px;
    }
    .CoveoSearchInterface .coveo-facet-value-label {
      padding: 0px 0px 20px 0px;
    }
    .CoveoSearchInterface .coveo-facet-value-caption {
      font-size: 16px;
      font-size: 1rem;
      font-weight: 400;
    }
    .CoveoSearchInterface .coveo-facet-value {
      padding: 0 25px;
    }
    .CoveoSearchInterface .coveo-facet-value .coveo-facet-value-checkbox {
      border-radius: 0px;
    }
    .CoveoSearchInterface .coveo-facet-value-count {
      display: none;
    }
    .CoveoSearchInterface .coveo-facet-more-icon, .coveo-facet-less-icon {
      top: 2px;
    }
    .CoveoSearchInterface .coveo-facet-more, .coveo-facet-less {
      height: 25px;
    }
    .CoveoSearchInterface .coveo-result-cell {
      color: #3c3c3c;
      font-weight: 400;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .coveo-result-cell {
        color: #888B8D;
        font-size: 14px;
      }
    }
    .CoveoSearchInterface .coveo-result-frame .coveo-result-row,
    .CoveoSearchInterface .CoveoResult.coveo-result-frame .coveo-result-row {
      margin: 0 0;
    }
    .CoveoSearchInterface .coveo-result-frame .coveo-result-row:nth-child(2),
    .CoveoSearchInterface .CoveoResult.coveo-result-frame .coveo-result-row:nth-child(2) {
      margin: 0 0 40px 0;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .coveo-result-frame .coveo-result-row:nth-child(2),
      .CoveoSearchInterface .CoveoResult.coveo-result-frame .coveo-result-row:nth-child(2) {
        margin: 0 0 35px 0;
      }
    }
    .CoveoSearchInterface .coveo-result-row .coveo-result-cell .coveo-result-row:first-child {
      margin: 0 0 20px 0;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .coveo-result-row .coveo-result-cell .coveo-result-row:first-child {
        margin: 0 0 15px 0;
      }
    }
    .CoveoSearchInterface .coveo-breadcrumb-items {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-grow: 0;
      -moz-flex-grow: 0;
      -ms-flex-grow: 0;
      flex-grow: 0;
      padding-bottom: 0;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .coveo-breadcrumb-items {
        display: inline;
      }
    }
    .CoveoSearchInterface .coveo-breadcrumb-item {
      margin: 0 0;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .coveo-breadcrumb-item {
        margin-bottom: 10px;
      }
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-title {
      display: none;
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-value .coveo-selected {
      color: #3c3c3c;
      border: 1px solid #888B8D;
      font-size: 12px;
      padding: 5px;
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-value,
    .CoveoSearchInterface .coveo-facet-slider-breadcrumb-value {
      color: #3c3c3c;
      border: 1px solid #888B8D;
      font-size: 12px;
      padding: 5px;
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-value.coveo-selected *,
    .CoveoSearchInterface .coveo-facet-slider-breadcrumb-value.coveo-selected * {
      color: #3c3c3c;
      font-weight: 400;
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-clear {
      top: -1px;
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-value .coveo-exclusion-svg,
    .CoveoSearchInterface .coveo-facet-slider-breadcrumb-value .coveo-exclusion-svg {
      fill: #53565A;
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-value:hover .coveo-facet-breadcrumb-clear .coveo-exclusion-svg,
    .CoveoSearchInterface .coveo-facet-slider-breadcrumb-value:hover .coveo-facet-breadcrumb-clear .coveo-exclusion-svg {
      fill: #53565A;
    }
    .CoveoSearchInterface .coveo-breadcrumb-clear-all-icon {
      margin-right: 0px;
    }
    .CoveoSearchInterface .coveo-breadcrumb-clear-all .coveo-breadcrumb-clear-all-icon svg {
      display: none;
      width: 0px;
      height: 0px;
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-value:hover,
    .CoveoSearchInterface .coveo-facet-breadcrumb-value:hover a,
    .CoveoSearchInterface .coveo-facet-slider-breadcrumb-value:hover,
    .CoveoSearchInterface .coveo-facet-slider-breadcrumb-value:hover a {
      text-decoration: none;
    }
    .CoveoSearchInterface .coveo-breadcrumb-clear-all {
      color: #140F4B;
      border-color: #140F4B;
      border-radius: 0px;
      font-size: 12px;
      padding: 5px;
      text-transform: uppercase;
      margin-left: 0;
    }
    .CoveoSearchInterface .CoveoBreadcrumb {
      border-bottom: 0 none;
    }
    @media only screen and (max-width: 768px) {
      .CoveoSearchInterface .CoveoBreadcrumb {
        flex-wrap: wrap;
      }
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-value,
    .CoveoSearchInterface .coveo-facet-slider-breadcrumb-value {
      margin-left: 0px;
      margin-right: 7px;
    }
    .CoveoFacet,
    .CoveoFacetRange,
    .CoveoFacetSlider,
    .CoveoHierarchicalFacet,
    .CoveoCategoryFacet {
      margin: 0;
      border: 1px solid #B1B3B3;
      border-top: 1px solid #B1B3B3;
      border-right: 1px solid #B1B3B3;
      border-bottom: 0 none;
      border-left: 1px solid #B1B3B3;
      border-radius: 0px;
    }
    @media only screen and (max-width: 768px) {
      .CoveoFacet,
      .CoveoFacetRange,
      .CoveoFacetSlider,
      .CoveoHierarchicalFacet,
      .CoveoCategoryFacet {
        border-left: 0 none;
        border-right: 0 none;
      }
    }
    .CoveoFacet:nth-last-child(2) {
      border-bottom: 1px solid #B1B3B3;
    }
    @media only screen and (max-width: 768px) {
      .CoveoFacet:nth-last-child(2) {
        border-bottom: 0 none;
      }
    }
    .CoveoSearchbox .magic-box .magic-box-input > input {
        color: #3c3c3c;
    }
    @media (max-width: 480px) {
      .CoveoSearchInterface .CoveoSearchbox {
        max-width: 100%;
        margin-right: 0;
      }
    }
    .open-coveo-filters-on-mobile {
      display: none;
    }
    @media only screen and (max-width: 768px) {
      .open-coveo-filters-on-mobile {
        display: block;
        width: 100%;
        background-color: #140F4B;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 30px;
      }
      .open-coveo-filters-on-mobile h6 {
        padding: 17.5px 0;
        text-transform: uppercase;
        margin-bottom: 0;
      }
    }
    .close-coveo-filters-on-mobile {
      display: none;
      color: #FFFFFF;
      position: absolute;
      top: 25px;
      right: 20px;
      z-index: 1052;
    }
    .close-coveo-filters-on-mobile h6 {
      margin-bottom: 0;
      font-weight: 500;
      text-transform: uppercase;
    }
    .close-coveo-filters-on-mobile h6 .mi {
      font-size: 12px;
      position: relative;
      top: 1px;
      margin-left: 6px;
    }
    @media only screen and (max-width: 768px) {
      body::-webkit-scrollbar {
        display: none;
        width: 0 !important;
        background-color: transparent;
      }
      body::-webkit-scrollbar-thumb {
        display: none;
        width: 0 !important;
        background-color: transparent;
      }
      body::-webkit-scrollbar-track {
        display: none;
        width: 0 !important;
        background-color: transparent;
      }
      body::-webkit-scrollbar-track-piece {
        display: none;
        width: 0 !important;
        background-color: transparent;
      }
      .coveo-facet-header-filter-by-container.is-fixed {
        position: fixed;
        z-index: 2000;
        width: 100%;
      }
    }
    @media (max-width: 480px) {
      .CoveoBreadcrumb {
        padding: 0;
      }
      .coveo-results-header {
        padding-left: 0;
        padding-bottom: 5px;
      }
      .coveo-summary-section {
        margin-bottom: 0;
      }
    }
    .magic-box .magic-box-suggestions {
      font-family: 'Effra', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #3c3c3c;
      border-color: #B1B3B3;
    }
    .magic-box.magic-box-hasFocus .magic-box-suggestions.magic-box-hasSuggestion {
      display: block;
      background-color: #FFFFFF;
      /* height: 246px !important; */
    }
    .searchbar__wrapper .CoveoSearchInterface .CoveoSearchbox .magic-box .magic-box-input,
    .searchbar__wrapper .CoveoSearchInterface .CoveoSearchbox .magic-box .magic-box-input > input,
    .searchbar__wrapper .CoveoSearchInterface .CoveoOmnibox .magic-box-clear .magic-box-input,
    .searchbar__wrapper .CoveoSearchInterface .CoveoOmnibox .magic-box-clear .magic-box-input > input {
      /* height: 52px; */
      color: #3c3c3c;
      position: relative;
    }

    .CoveoSearchbox {
      border: 1px solid #bfbfbf;
      border-radius: 40px;
      position: relative;
    }

    @media only screen and (max-width: 768px) {
      .searchbar__wrapper .CoveoSearchInterface .CoveoSearchbox .magic-box .magic-box-input,
      .searchbar__wrapper .CoveoSearchInterface .CoveoSearchbox .magic-box .magic-box-input > input,
      .searchbar__wrapper .CoveoSearchInterface .CoveoOmnibox .magic-box-clear .magic-box-input,
      .searchbar__wrapper .CoveoSearchInterface .CoveoOmnibox .magic-box-clear .magic-box-input > input {
        height: 48px;
      }
    }
    .searchbar__wrapper .CoveoSearchInterface .coveo-search-section {
      padding-top: 0;
      padding-bottom: 0;
      position: relative;
      -moz-transform: translate(0, 50%);
      -o-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
      -webkit-transform: translate(0, 50%);
      transform: translate(0, 0);
    }
    @media only screen and (max-width: 768px) {
      .searchbar__wrapper .CoveoSearchInterface .coveo-search-section {
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }
