.inPlaceVideoPlayerContainer {
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inPlaceVideoPlayerContainer .videoplayer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inPlaceVideoPlayerContainer .videoplayer video {
  width: 100%;
  height: 100%;
}

.lightbox-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #FFFFFF;
  border-bottom: solid 10px #f3f3f3;
  display: none;
}

.lightbox-wrapper .lightbox-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.lightbox-wrapper .lightbox-container .lightbox-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.lightbox-wrapper .lightbox-container .close-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #FFFFFF;
  background-color: #B0008E;
  font-size: 30px;
  line-height: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  z-index: 999999999;
}

.lightbox-wrapper .lightbox-container .close-button:hover {
  background-color: #97027A;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.lightbox-wrapper .lightbox-container .media-container {
  /* width:  calculated in Javascript */
  /* height: calculated in Javascript */
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 88888888;
}

.lightbox-wrapper .lightbox-container .media-container .lightbox-media {
	width: 100%;
}

.lightbox-wrapper .lightbox-container .media-container .lightbox-media .videoplayer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lightbox-wrapper .lightbox-container .media-container .lightbox-title {
  width: 100%;
  background-color: #888B8D;
}

.lightbox-wrapper .lightbox-container .media-container .lightbox-title h5 {
  font-weight: 500;
  color: #FFFFFF;
  padding: 12pt 18pt;
  font-size: 14pt;
  line-height: 14pt;
}

.popup-video__container {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 450px;
  width: 800px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  -webkit-box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

@media (max-width: 1023px) {
  .popup-video__container {
    height: 405px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .popup-video__container {
    /*width: 668px;*/
    /*height: 375px;*/
    width: 100%;
    height: 100%;
  }
}

/*
@media (max-width: 499px) {
    .popup-video__container {
        width: 455px;
        height: 255px;
    }
}

@media (max-width: 445px) {
    .popup-video__container {
        width: 375px;
        height: 210px;
    }
}

@media (max-width: 365px) {
    .popup-video__container {
        width: 320px;
        height: 180px;
    }
}

@media (max-width: 320px) {
    .popup-video__container {
        width: 100%;
        min-height: 180px;
    }
}
*/

.popup-video__container.list {
  width: 960px;
  height: 400px;
}

@media (max-width: 1023px) {
  .popup-video__container.list {
    height: 320px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .popup-video__container.list {
    width: 668px;
    height: 278px;
  }

  .popup-video__container .html5video {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .popup-video__container.list .playlist-container {
    flex: 1 1 0%;
    display: none;
  }
}

.popup-video__close-btn,
.inplacevideo-closeBtn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

.popup-video__close-btn i,
.inplacevideo-closeBtn i {
  font-size: 20px !important;
  color: #FFFFFF;
  background-color: #0085CA;
  padding: 12.5px;
}

/*
.html5video.no-playlist {
    min-height: 450px;
}
*/

.html5video,
.playlist-container.is-active {
    background: #000;
    position: relative;
    /*min-width: 266px;*/
    /*min-height: 400px;*/
    /*height: 0;*/
}

/*
@media (max-width: 1023px) {

    .html5video,
    .playlist-container.is-active {
        min-height: 320px;
    }
}

@media (max-width: 767px) {
    .html5video,
    .html5video.no-playlist{
        min-height: 278px;
    }
}
*/

.html5video {
    flex: 3 1 70%;
    width: 70%;
}

.playlist-container {
    display: none;
    flex: 1 1 30%;
    width: 30%;
}

.playlist-container.is-active {
    display: block;
}

.vjs-playlist {
    overflow-y: auto;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.vjs-playlist img {
    max-height: 170px;
}

.vjs-playlist-item:focus {
    outline: none;
}

@media (max-width: 767px) {
    .popup-video__container .playlist-container {
        flex: 1 1 0%;
        display: none;
        min-height: 0;
        min-width: 0;
    }
}

/* hide at load */
.inPlaceVideoPlayerContainer {
    display: none;
}
.inplacevideo-closeBtn {
    display: none;
}
.video__flag-watched {
    display: none;
}

.vjs-playlist{padding:0;background-color:#1a1a1a;color:#fff;list-style-type:none}.vjs-playlist img{display:block;height:auto;width:auto}.vjs-playlist .vjs-playlist-item-list{position:relative;margin:0;padding:0;list-style:none}.vjs-playlist .vjs-playlist-item{position:relative;cursor:pointer;overflow:hidden}.vjs-playlist .vjs-playlist-thumbnail-placeholder{background:#303030}.vjs-playlist .vjs-playlist-now-playing-text{display:none;position:absolute;top:0;left:0;padding-left:2px;margin:.8rem}.vjs-playlist .vjs-playlist-duration{position:absolute;top:.5rem;left:.5rem;padding:2px 5px 3px;margin-left:2px;background-color:rgba(26,26,26,0.8)}.vjs-playlist .vjs-playlist-title-container{position:absolute;bottom:0;box-sizing:border-box;width:100%;padding:.5rem .8rem;text-shadow:1px  1px 2px black, -1px  1px 2px black, 1px -1px 2px black, -1px -1px 2px black}.vjs-playlist .vjs-playlist-name{display:block;max-height:2.5em;padding:0 0 4px 2px;font-style:normal;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;line-height:20px}.vjs-playlist .vjs-playlist-description{margin:0;text-overflow:ellipsis;overflow:hidden}.vjs-playlist .vjs-up-next-text{display:none;padding:.1rem 2px;font-size:.8em;text-transform:uppercase}.vjs-playlist .vjs-up-next .vjs-up-next-text{display:block}.vjs-playlist .vjs-selected{background-color:#141a21}.vjs-playlist .vjs-selected img{opacity:.2}.vjs-playlist .vjs-selected .vjs-playlist-duration{display:none}.vjs-playlist .vjs-selected .vjs-playlist-now-playing-text{display:block}.vjs-playlist .vjs-selected .vjs-playlist-title-container{text-shadow:none}.vjs-playlist-vertical{overflow-x:hidden;overflow-y:auto}.vjs-playlist-vertical img{width:100%;min-height:54px}.vjs-playlist-vertical .vjs-playlist-item{margin-bottom:5px}.vjs-playlist-vertical .vjs-playlist-thumbnail{display:block;width:100%}.vjs-playlist-vertical .vjs-playlist-thumbnail-placeholder{height:100px}.vjs-playlist-horizontal{overflow-x:auto;overflow-y:hidden}.vjs-playlist-horizontal img{min-width:100px;height:100%}.vjs-playlist-horizontal .vjs-playlist-item-list{height:100%;white-space:nowrap}.vjs-playlist-horizontal .vjs-playlist-item{display:inline-block;height:100%;margin-right:5px}.vjs-playlist-horizontal .vjs-playlist-thumbnail{display:block;height:100%}.vjs-playlist-horizontal .vjs-playlist-thumbnail-placeholder{height:100%;width:180px}.vjs-playlist.vjs-ad-playing{overflow:hidden}.vjs-playlist.vjs-ad-playing.vjs-csspointerevents{pointer-events:none;overflow:auto}.vjs-playlist.vjs-ad-playing.vjs-csspointerevents .vjs-playlist-ad-overlay{pointer-events:auto}.vjs-playlist.vjs-ad-playing .vjs-playlist-ad-overlay{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-color:#1a1a1a;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";background-color:rgba(0,0,0,0.5)}.vjs-playlist{font-size:14px}.vjs-playlist .vjs-playlist-description{height:42px;line-height:21px}.vjs-mouse.vjs-playlist{font-size:15px}.vjs-mouse.vjs-playlist .vjs-playlist-description{height:45px;line-height:23px}@media (min-width: 600px){.vjs-mouse.vjs-playlist{font-size:17px}.vjs-mouse.vjs-playlist .vjs-playlist-description{height:51px;line-height:26px}.vjs-playlist .vjs-playlist-name{line-height:22px}}@media (max-width: 520px){.vjs-playlist .vjs-selected .vjs-playlist-now-playing-text,.vjs-playlist .vjs-up-next .vjs-up-next-text{display:none}.vjs-mouse.vjs-playlist .vjs-selected .vjs-playlist-now-playing-text,.vjs-mouse.vjs-playlist .vjs-up-next .vjs-up-next-text{display:none}}@media (min-width: 521px){.vjs-playlist img{min-height:85px}}@media (max-width: 750px){.vjs-playlist .vjs-playlist-duration{display:none}}
