.dir__ltr {
  direction: ltr;
}

.dir__rtl {
  direction: rtl;

  ////////////////////////////
  /* GENERAL STYLES */
  ///////////////////////////

  // flip all icons
  .mi {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .material-icons,
  .material-icons-two-tone,
  .material-icons-outlined {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }

  .modular-image {
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  // account for all icon--right and icon--left margin changes
  .icon--right {
    margin-right: 6px;
    margin-left: 0px;
  }

  .icon--left {
    margin-left: 6px;
    margin-right: 0px;
  }

  .coveo-search-button svg {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  // button row
  .button-row {
    .dynamic-width-button:first-child {
      margin-right: 0;
    }

    .dynamic-width-button:last-child {
      margin-left: 0;//unset
      margin-right: 14px;
      @media only screen and (max-width: 480px) {
        margin-right: 0;
      }
    }
  }

  // LISTS //
  .modular-copy.stylized-list {
    ul {
      padding-inline-start: 0;

      li {
        padding-left: unset;
        padding-right: 1.4em;
        &:before {
          content: "\e86c"; /* Google Material Unicode */
          font-family: Material Icons;
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          margin-left: unset;
          margin-right: -1.3em; /* same as padding set on li */
          padding-right: 0.3em;
          width: 1.3em; /* same as padding set on li */
        }
      }
    }
  }

  // VIDEOS //
  .video-icon {
    position: absolute;
    z-index: @z-index-video-icon;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }

  .close-video-overlay {
    color: @electric-blue;
    font-size: 40px;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 40px;
    right: unset;
    left: 100px;
    z-index: 5052;
    &:hover {
      cursor: pointer;
    }
    @media only screen and (max-width: 1441px) {
      top: 20px;
      right: unset;
      left: 20px;
    }
  }

  ////////////////////////////
  /* COMPONENTS */
  ///////////////////////////

  /* 50/50 FULL WIDTH IMAGE TEXT */
  // not needed //

  /* ALERT BAR */
  .comp__alert-bar {
    .alert {
      .flexbox();
      .justify-content(center);

      a {
        margin-left: 0; //unset
        margin-right: 12px;
        @media @mobile {
          margin-left: 0; //unset
          margin-right: 10px;
        }
      }
    }
  }

  /* ANIMATED AUTOPLAY VIDEOS */
  // not needed //

  /* APP DOWNLOAD */
  a.app-download__image {
    display: inline-block;
    &:first-of-type {
      margin-right: 0; //unset
      margin-left: 16px;
      @media @portrait {
        margin-right: 0; //unset
        margin-left: 14px;
      }
      @media @mobile {
        margin-right: 0; //unset
        margin-left: 12px;
      }
    }
  }

  /* CENTERED TEXT WITH BUTTON */
  // not needed //

  /* FEATURED MIXED CONTENT */
  .comp__featured-mixed-content {
    .container-1 {
      padding-right: 0; //unset
      padding-left: 30px;
      @media @portrait {
        padding-left: 0;
      }
    }
  }

  /* FEATURED PRODUCT BANNER */
  .comp__featured-product-banner {
    .grid-item-3 {
      @media @laptop {
        padding-left: 0; //unset
        padding-right: 100px;
      }
      @media @landscape {
        padding-left: 0;
        padding-right: 40px;
      }
      @media @portrait {
        padding-left: 35px;
        padding-right: 35px;
      }
      @media @mobile {
        padding-left: 35px;
        padding-right: 35px;
      }
    }

    .grid-item-4 {
      @media @laptop {
        padding-left: 0;
        padding-right: 100px;
      }
      @media @landscape {
        padding-left: 0;
        padding-right: 40px;
      }
      @media @portrait {
        padding-left: 35px;
        padding-right: 35px;
      }
      @media @mobile {
        padding-left: 35px;
        padding-right: 35px;
      }
    }

    .grid-item-5 {
      .flip-horizontal();
      padding-right: 0;
      align-self: center;
      @media @laptop {
        padding-right: 0; //unset
        padding-left: 100px;
      }
      @media @landscape {
        padding-right: 0;
        padding-left: 40px;
      }
      @media @portrait {
        padding-left: 35px;
        padding-right: 35px;
      }
      @media @mobile {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    .dynamic-width-button:last-child {
      margin-left: 0; //unset
      margin-right: 14px;
      @media only screen and (max-width: 480px) {
        margin-right: 0;
      }
    }
  }

  /* FIXED NAVIGATION */
  .modular-fixed-nav {

    .comp__fixed-navigation {
      .title-link {
        .material-icons {
          @media @landscape {
            margin-left: 0;//unset
            margin-right: 15px;
          }
          @media @mobile {
            float: left;
          }
        }
      }

      .menu-link {
        margin-right: 0;//unset
        margin-left: 20px;
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }

  /* FOOTER */
  .comp__footer {
    .footer__menu--secondary {
      text-align: left;
      @media @mobile {
        text-align: left;
      }
    }

    .menu__col {
      padding-right: 0;//unset
      padding-left: 3%;

      h6 {
        @media @portrait {
          padding: 16px 0px 16px 8px;
        }
      }

      .menu__expander {
        @media @portrait {
          display: inline-block;
          float: left;
        }
      }
    }

    .footer__contact {
      @media @portrait {
        text-align: right;
        &:last-child {
          width: 100%;
        }
      }
    }

    .footer__contact {
      a.dynamic-width-button {
        margin-top: 0;
      }
    }

    .footer__copyright {
      text-align: right;
    }
  }

  /* FOOTNOTES */
  // no need //

  /* FULL WIDTH IMAGE BANNER */
  .comp__full-width-image-banner {
    .textblock {
      @media @laptop {
        padding-left: 0; //unset
        padding-right: 35px;
      }
      @media @landscape {
        padding-left: 40px;
        padding-right: 40px;
      }
      @media @portrait {
        max-width: 100%;
        padding-left: 35px;
        padding-right: 35px;
      }
      @media @mobile {
        height: 615px;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
    .image {
      .flip-horizontal();
      z-index: 1;
    }
    .text-overlay-container {
      z-index: 2;
    }
  }

  /* GATEWAY PAGE */
  .comp__gateway-page {
    figure {
      .flip-horizontal();
    }
    .panel--60 {
      padding-left: 100px;
      padding-right: 0;//unset
      @media @landscape {
        padding-left: 35px;
        padding-right: 0;//unset
      }
      @media @portrait {
        padding-left: 20px;
        padding-right: 0;//unset
      }
      @media @mobile {
        .make-col-span(12);
        max-width: 100%;
        padding-left: 0;
      }
    }
  }

  /* HCP POPUP */
  // no need //

  /* HEADER */
  .comp__medsurg-header {
    .regions {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      // right: 0;
      right: unset;
      left: 0;
      top: 0;
      z-index: 0;
      width: 436px;
      height: 100vh;
      background-color: @white;
      text-align: right;
      box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.75);
      overflow-y: auto;
      opacity: 0;
      .transition(opacity, 0.5s, fade-in-out);
      display: none;
      &.animate {
        z-index: 2500;
        display: block;
        opacity: 1;
      }
      @media @landscape {
        position: fixed;
        top: 0;
        // left: -100%;
        left: unset;
        right: -100%;
        height: 100%;
        width: @flyout-width-tb;
        transition: 0.5s transform;
        transition-timing-function: cubic-bezier(.38,.52,.37,1);
        opacity: 1;
        display: block;
        box-shadow: none;
        z-index: 2500;
        &.animate {
          transform: translateX(-100vw);
          box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.75);
        }
      }
      @media @portrait {
        width: 100vw;
        box-shadow: none;
      }
    }

    .region {
      &.is-active {
        .mi {
          display: inline-block;
          position: absolute;
          // right: 20px;
          right: unset;
          left: 20px;
          top: 25px;
          font-size: 18px;
          @media @landscape {
            // right: 15px;
            right: unset;
            left: 15px;
            top: 22.5px;
          }
        }
      }
    }

    .support-menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      // right: 0;
      right: unset;
      left: 0;
      top: 0;
      z-index: 0;
      width: 436px;
      height: 100vh;
      background-color: @white;
      // text-align: left;
      text-align: right;
      box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.75);
      overflow-y: auto;
      opacity: 0;
      .transition(opacity, 0.3s, fade-in-out);
      display: none;
      &.animate {
        z-index: 2500;
        display: block;
        opacity: 1;
      }
      @media @landscape {
        position: fixed;
        top: 0;
        // right: -100%;
        right: unset;
        left: -100%;
        height: 100%;
        width: @flyout-width-tb;
        transition: 0.5s transform;
        transition-timing-function: cubic-bezier(.38,.52,.37,1);
        opacity: 1;
        display: block;
        box-shadow: none;
        z-index: 2500;
        &.animate {
          transform: translateX(100vw);
          box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.75);
        }
      }
      @media @portrait {
        width: 100vw;
      }
    }

    .support-menu__item {
      .mi,
      .material-icons {
        font-size: 20px;
        // margin-right: 10px;
        margin-right: unset;
        margin-left: 10px;
      }

      a {
        &.phone-num {
          .link-appearance {
            text-decoration: underline;
            // margin-left: 6px;
            margin-left: unset;
            margin-right: 6px;
          }
        }
      }

      .mi-btr-angle-right,
      .mi-btb-angle-right {
        position: absolute;
        // right: 0;
        right: unset;
        left: 0;
      }
    }

    .mobile-menu-controller {
      display: none;
      @media @landscape {
        display: inline-block;
        font-size: 20px;
        // margin-right: 15px;
        margin-right: unset;
        margin-left: 15px;
        cursor: pointer;
        @media @mobile {
          font-size: 18px;
          // margin-right: 15px;
          margin-right: unset;
          margin-left: 15px;
        }
      }
    }

    .search__btn {
      display: none;
      @media @landscape {
        display: inline-block;
        font-size: 24px;
        // margin-right: 20px;
        margin-right: unset;
        margin-left: 20px;
        cursor: pointer;
        .mi {
          position: relative;
          top: 3px;
        }
      }
      @media @mobile {
        font-size: 22px;
        // margin-right: 15px;
        margin-right: unset;
        margin-left: 15px;
        .mi {
          top: 2px;
        }
      }
    }

    .menu__container {
      @media @landscape {
        background-color: @white;
        list-style-type: none;
        margin: 0;
        padding: 0;
        z-index: 2400;
        height: 100vh;
        overflow-y: auto;
        position: fixed;
        top: 67px;
        left: -100%;
        left: unset;
        right: -100%;
        height: 100vh;
        width: 100%;
        transition: 0.5s transform;
        transition-timing-function: cubic-bezier(.38,.52,.37,1);
        opacity: 1;
        display: block;
        &.animate {
          transform: translateX(-100vw);
        }
        // also ul
        .mobile-top-bar-menu {
          display: block;
          padding-inline-start: 0;
          margin-bottom: 0;
          background-color: @white;
          font-size: 14px;
          font-weight: 500;

          a, .mi {
            font-size: 14px;
            font-weight: 500;
            text-transform: none;
          }
        }
      }
      @media @portrait {
        top: 53.5px;
      }
    }

    .menu__item {
      margin-right: unset;
      margin-left: 22px;
      @media @landscape {
        margin-left: 0;
      }

      > a {
        @media @landscape {
          text-align: right;
          padding: 0px 15px;
        }
      }
    }

    .header__region-select {
      margin-right: 0;
      margin-left: 15px;
      @media @landscape {
        display: none;
      }
    }

    .header__user-login {
      margin-right: 0;
      margin-left: 15px;
      span {
        margin-right: 4px;
        margin-left: 5px;
      }
      .mi-mitg-find-a-rep {
        padding-right: 0;
        padding-left: 2.5px;
      }
      @media @landscape {
        display: none;
      }
    }

    .searchbar {
      .mi-btb-times.js-reset-form {
        position: absolute;
        // right: 42px;
        right: unset;
        left: 42px;
        top: 10px;
        font-size: 14px;
        display: none;
        &:hover {
          cursor: pointer;
        }
        @media @landscape {
          font-size: 10px;
          // right: 50px;
          right: unset;
          left: 50px;
          top: 12px;
        }
      }

      &.is-expanded {
        z-index: @z-index-searchbar;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 0;
        // left: 0;
        left: unset;
        right: 0;
      }
    }

    // cancel search btn
    .cancel-search {
      @media @landscape {
        padding: 0;
        position: absolute;
        // right: 25px;
        right: unset;
        left: 25px;
        bottom: 0px;
        top: 22px;
      }
      @media @portrait {
        top: 15px;
      }
    }

    .coveo-visible-to-screen-reader-only {
      position: absolute;
      left: unset;
      right: -10000px;
    }

    .magic-box .magic-box-clear,
    .magic-box.magic-box-notEmpty .magic-box-clear {
      @media @landscape {
        position: absolute;
        top: 0px;
        // right: 0px;
        right: unset;
        left: 0px;
      }
    }

    .magic-box .magic-box-input .magic-box-underlay,
    .magic-box .magic-box-input > input {
      // padding: 10px 45px 10px 10px;
      text-align: right;
      padding: 10px 15px 10px 45px;
    }

    #searchbox.is-expanded {
      position: absolute;
      top: 0;
      // left: 0;
      left: unset;
      right: 0;
      margin: 0 auto;
      @media @landscape {
        display: inline-block;
        width: 100%;
        position: absolute;
        top: 15px;
        // left: 0;
        left: unset;
        right: 0;
        padding: 0 15px 0 95px;
      }
      @media @portrait {
        top: 8.5px;
      }
    }

    .CoveoSearchInterface .CoveoSearchButton {
      background-color: transparent;
      border: 0 none;
      border-radius: 0;
      position: absolute;
      // left: 10px;
      left: unset;
      right: 5px;
      top: 9px;
      color: #3c3c3c !important;
      height: 18px;
      width: 18px;
      // margin-left: 7px;
      margin-left: unset;
      margin-right: 7px;
      @media only screen and (max-width: 768px) {
        top: 11px;
        left: unset;
        right: 10px;
      }
    }
  }

  #searchcontent {
    .magic-box .magic-box-input .magic-box-underlay, .magic-box .magic-box-input > input {
      // padding: 12px 49px 12px 40px;
      padding: 12px 40px 12px 49px;
    }
    .magic-box .magic-box-input {
      @media only screen and (max-width: 768px) {
        height: 48px;
      }
    }
    .magic-box .magic-box-suggestions {
      left: 20px;
      right: 20px;
    }
    .CoveoSearchInterface .CoveoSearchButton {
      background-color: transparent;
      border: 0 none;
      border-radius: 0;
      position: absolute;
      // left: 10px;
      left: unset;
      right: 10px;
      // top: 18px;
      top: 9px;
      color: #3c3c3c !important;
      height: 18px;
      width: 18px;
      // margin-left: 7px;
      margin-left: unset;
      margin-right: 7px;
      @media only screen and (max-width: 768px) {
        top: 11px;
        // left: 10px;
        left: unset;
        right: 10px;
      }
    }
  }

  /* IMAGE WITH CIRCLE ANIMATIONS */
  .modular-image.featured-circles {
    .circle--lg {
      &.top-right {
        top: 115px;
        right: unset;
        left: 285px;
        @media @laptop {
          top: 65px;
          right: unset;
          left: 95px;
        }
        @media @landscape {
          top: 50px;
          right: unset;
          left: 75px;
        }
        @media @portrait {
          top: 50px;
          right: unset;
          left: 50px;
        }
        @media @mobile {
          top: 35px;
          right: unset;
          left: 25px;
        }
      }
      &.top-left {
        top: 115px;
        left: unset;
        right: 285px;
        @media @laptop {
          top: 65px;
          left: unset;
          right: 95px;
        }
        @media @landscape {
          top: 50px;
          left: unset;
          right: 75px;
        }
        @media @portrait {
          top: 50px;
          left: unset;
          right: 50px;
        }
        @media @mobile {
          top: 35px;
          left: unset;
          right: 25px;
        }
      }
      &.bottom-right {
        bottom: 115px;
        right: unset;
        left: 285px;
        @media @laptop {
          bottom: 65px;
          right: unset;
          left: 95px;
        }
        @media @landscape {
          bottom: 50px;
          right: unset;
          left: 75px;
        }
        @media @portrait {
          bottom: 50px;
          right: unset;
          left: 50px;
        }
        @media @mobile {
          bottom: 35px;
          right: unset;
          left: 25px;
        }
      }
      &.bottom-left {
        bottom: 115px;
        left: unset;
        right: 285px;
        @media @laptop {
          bottom: 65px;
          left: unset;
          right: 95px;
        }
        @media @landscape {
          bottom: 50px;
          left: unset;
          right: 75px;
        }
        @media @portrait {
          bottom: 50px;
          left: unset;
          right: 50px;
        }
        @media @mobile {
          bottom: 35px;
          left: unset;
          right: 25px;
        }
      }
    }

    .circle--sm {
      &.top-right {
        top: 145px;
        right: unset;
        left: 358px;
        @media @laptop {
          top: 95px;
          right: unset;
          left: 200px;
        }
        @media @landscape {
          top: 75px;
          right: unset;
          left: 110px;
        }
        @media @portrait {
          top: 50px;
          right: unset;
          left: 50px;
        }
        @media @mobile {
          top: 40px;
          right: unset;
          left: 25px;
        }
      }
      &.top-left {
        top: 145px;
        left: unset;
        right: 358px;
        @media @laptop {
          top: 95px;
          left: unset;
          right: 200px;
        }
        @media @landscape {
          top: 75px;
          left: unset;
          right: 110px;
        }
        @media @portrait {
          top: 50px;
          left: unset;
          right: 50px;
        }
        @media @mobile {
          top: 40px;
          left: unset;
          right: 25px;
        }
      }
      &.bottom-right {
        bottom: 145px;
        right: unset;
        left: 358px;
        @media @laptop {
          bottom: 95px;
          right: unset;
          left: 200px;
        }
        @media @landscape {
          bottom: 75px;
          right: unset;
          left: 110px;
        }
        @media @portrait {
          bottom: 50px;
          right: unset;
          left: 50px;
        }
        @media @mobile {
          bottom: 40px;
          right: unset;
          left: 25px;
        }
      }
      &.bottom-left {
        bottom: 145px;
        left: unset;
        right: 358px;
        @media @laptop {
          bottom: 95px;
          left: unset;
          right: 200px;
        }
        @media @landscape {
          bottom: 75px;
          left: unset;
          right: 110px;
        }
        @media @portrait {
          bottom: 50px;
          left: unset;
          right: 50px;
        }
        @media @mobile {
          bottom: 40px;
          left: unset;
          right: 25px;
        }
      }
    }
  }

  /* INPLACE VIDEO */
  .close-inplacevideo {
    position: absolute;
    z-index: 4;
    .kill-webkit();
    .flexbox();
    .align-items(center);
    .justify-content(space-around);
    background-color: @electric-blue;
    color: @white;
    border: 0 none;
    border-radius: 50%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    display: none;
    &:hover {
      cursor: pointer;
      opacity: 0.73;
    }
  }
  // 1-col
  .comp__multi-column-mixed-content .grid-container.one-col {
    .close-inplacevideo {
      .inplacevideo-size(1);
      top: 15px;
      right: 15px;
      @media @landscape {
        top: 12px;
        right: 12px;
      }
      @media @portrait {
        top: 10px;
        right: 10px;
      }
      @media @mobile {
        top: 8px;
        right: 8px;
      }
    }
  }
  // 2-col
  .comp__tall-image-with-text .panel.panel--50 {
    .close-inplacevideo {
      .inplacevideo-size(2);
      top: 15px;
      right: 15px;
      @media @landscape {
        top: 12px;
        right: 12px;
      }
      @media @portrait {
        top: 10px;
        right: 10px;
      }
      @media @mobile {
        top: 8px;
        right: 8px;
      }
    }
  }
  .comp__multi-column-mixed-content .grid-container.two-col {
    .close-inplacevideo {
      .inplacevideo-size(2);
      top: 15px;
      right: 15px;
      @media @landscape {
        top: 12px;
        right: 12px;
      }
      @media @portrait {
        top: 10px;
        right: 10px;
      }
      @media @mobile {
        top: 8px;
        right: 8px;
      }
    }
  }
  // 3-col
  .comp__multi-column-mixed-content .grid-container.three-col {
    .close-inplacevideo {
      .inplacevideo-size(3);
      top: 10px;
      right: 10px;
      @media @landscape {
        top: 12px;
        right: 12px;
      }
      @media @portrait {
        top: 10px;
        right: 10px;
      }
      @media @mobile {
        top: 8px;
        right: 8px;
      }
    }
  }
  // 4-col
  .comp__multi-column-mixed-content .grid-container.four-col {
    .close-inplacevideo {
      .inplacevideo-size(4);
      top: 10px;
      right: 10px;
      @media @landscape {
        top: 12px;
        right: 12px;
      }
      @media @portrait {
        top: 10px;
        right: 10px;
      }
      @media @mobile {
        top: 8px;
        right: 8px;
      }
    }
  }
  .fill-space {
    .inPlaceVideoPlayerContainer .videoplayer video {
      height: auto !important;
    }
  }

  /* MULTI-COLUMN MIXED CONTENT
  // no need //

  /* OVERLAPPING IMAGE AND TEXT */
  .comp__overlapping-image-and-text {
    .grid-item-3 {
      @media @laptop {
        padding-left: 0;//unset
        padding-right: 100px;
      }
      @media @landscape {
        padding-left: 0;//unset
        padding-right: 40px;
      }
      @media @portrait {
        padding-left: 35px;
        padding-right: 35px;
      }
      @media @mobile {
        padding-left: 35px;
        padding-right: 35px;
      }
    }

    .grid-item-4 {
      @media @laptop {
        padding-left: 0;//unset
        padding-right: 100px;
      }
      @media @landscape {
        padding-left: 0;//unset
        padding-right: 40px;
      }
      @media @portrait {
        padding-left: 35px;
        padding-right: 35px;
      }
      @media @mobile {
        padding-left: 35px;
        padding-right: 35px;
      }
    }

    .grid-item-5 {
      .flip-horizontal();
      padding-right: 0;
      align-self: center;
      @media @laptop {
        padding-right: 0;
        padding-left: 100px;
      }
      @media @landscape {
        padding-right: 0;
        padding-left: 40px;
      }
      @media @portrait {
        padding-left: 35px;
        padding-right: 35px;
      }
      @media @mobile {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

  /* SOCIAL MEDIA SHARING */
  .social-media-sharing__links {
    a {
      margin-right: 15px;
      margin-left: 0;//unset
      &:first-of-type {
        margin-left: 0;
        margin-right: 11px;
      }

      .mi {
        transform: unset;
      }
    }
  }

  .social-media-sharing__links + .social-media-sharing__links {
    margin-left: 0; //unset
    margin-right: 40px;
    @media @mobile {
      margin-right: 0;
    }
  }

  /* STATS */
  .stats {
    .copy {
      text-align: right !important;
    }
  }

  /* TABBED CONTENT W/LARGE IMAGE */
  .comp__tabbed-content-with-large-image {
    .tabbed-content__image {
      .flip-horizontal();
    }
  }

  /* TABLE */
  .modular-table table {
    th, td {
      text-align: right;
    }
  }

  /* TALL IMAGE W/TEXT */
  .comp__tall-image-with-text {
    .copy {
      .align-self(center);
      padding-right: 0;//unset
      padding-left: 80px;
      @media @laptop {
        padding-right: 0;//unset
        padding-left: 75px;
      }
      @media @landscape {
        padding-right: 0;//unset
        padding-left: 60px;
      }
      @media @portrait {
        padding-right: 0;//unset
        padding-left: 0;
      }
      @media @mobile {
        padding-right: 0;//unset
        padding-left: 0;
      }
    }
    &.img-shape--circle {
      &.circle--left {
        .modular-image {
          // margin-left: 0;
          margin-right: 0;
        }
      }
      &.circle--right {
        .modular-image {
          margin-left: 0;//unset
          margin-right: 15%;
          @media @portrait {
            margin-right: 0;
          }
        }
      }
      .figure,
      .figure img,
      video {
        @media @portrait {
          // text-align: left;
          text-align: right;
        }
      }
    }
  }

  /* TEXT W/ICON */
  // no need //

  /* TITLE & TEXT */
  // no need //

  /* TITLE */
  // no need //

  /* VIDEO OVERLAY */
  // inluded in general video styles //
}
