// Base styles for MITG
// Includes Typography

@import "mixins/boxes";
// @import "mixins/hover-link";

* {
  .box-size();
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: @font-size-base;
  color: @dark-gray;
  line-height: @line-height-p;
  font-family: 'Avenir Next World W05', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  &.modal-open {
    overflow: hidden;
  }
}


@media only screen and (max-width: 767px) {
  body::-webkit-scrollbar {
      display: none;
      width: 0 !important;
      background-color: transparent;
  }
  body::-webkit-scrollbar-thumb {
      display: none;
      width: 0 !important;
      background-color: transparent;
  }
  body::-webkit-scrollbar-track {
      display: none;
      width: 0 !important;
      background-color: transparent;
  }
  body::-webkit-scrollbar-track-piece {
      display: none;
      width: 0 !important;
      background-color: transparent;
  }
}

h1, h2, h3, h4, h5, h6 {
  // Also: .h1, .h2, .h3, .h4, .h5, .h6
  // If these are needed also duplicate individual h1-h6 declarations below
  margin: 0;
  text-transform: none;

  h1 > p,
  h2 > p,
  h3 > p,
  h4 > p,
  h5 > p,
  h6 > p {
    margin: 0;
    text-transform: none;
  }
}

h1,
h1 > p {
  font-size: 80px;
  line-height: 86px;
  font-weight: 250;
  margin-bottom: 40px;
  @media @laptop {
    font-size: 74px;
    line-height: 78px;
  }
  @media @landscape {
    font-size: 60px;
    line-height: 64px;
    margin-bottom: 25px;
  }
  @media @portrait {
    font-size: 60px;
    line-height: 60px;
  }
  @media @mobile {
    font-size: 45px;
    line-height: 50px;
  }
}

h1 > sup {
  font-size: 50%;
  top: -.9em;
}

h2,
h2 > p {
  font-size: 68px;
  line-height: 72px;
  font-weight: 400;
  margin-bottom: 40px;
  @media @laptop {
    font-size: 60px;
    line-height: 64px;
  }
  @media @landscape {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 25px;
  }
  @media @portrait {
    font-size: 40px;
    line-height: 44px;
  }
  @media @mobile {
    font-size: 42px;
    line-height: 50px;
  }
}

h2 > sup {
  font-size: 50%;
  top: -.75em;
}

h3,
h3 > p {
  font-size: 50px;
  line-height: 55px;
  font-weight: @font-weight-regular;
  margin-bottom: 25px;
  @media @laptop {
    font-size: 50px;
    line-height: 55px;
  }
  @media @landscape {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 20px;
  }
  @media @portrait {
    font-size: 32px;
    line-height: 36px;
  }
  @media @mobile {
    font-size: 30px;
    line-height: 34px;
  }
}

h3 > sup {
  font-size: 50%;
  top: -.75em;
}

h4,
h4 > p {
  font-size: 40px;
  line-height: 45px;
  font-weight: @font-weight-regular;
  margin-bottom: 25px;
  @media @laptop {
    font-size: 36px;
    line-height: 40px;
  }
  @media @landscape {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  @media @portrait {
    font-size: 24px;
    line-height: 28px;
  }
}

h5,
h5 > p {
  font-size: 30px;
  line-height: 32px;
  font-weight: @font-weight-demi;
  margin-bottom: 25px;
  @media @laptop {
    font-size: 28px;
    line-height: 30px;
  }
  @media @landscape {
    font-size: 24px;
    line-height: 26px;
  }
  @media @portrait {
    font-size: 22px;
    line-height: 24px;
  }
}

h6,
h6 > p {
  font-size: 22px;
  line-height: 24px;
  font-weight: @font-weight-demi;
  margin-bottom: 20px;
  @media @laptop {
    font-size: 20px;
    line-height: 22px;
  }
  @media @mobile {
    font-size: 18px;
    line-height: 20px;
  }
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a {
  text-decoration: underline;
  color: inherit;
  &:hover,
  &:visited {
    color: inherit;
  }
}

p,
p.small,
p span.small {
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  margin-bottom: 30px;
  @media @landscape {
    margin-bottom: 25px;
  }
}

p.medium,
p span.medium {
  font-size: 18px;
  line-height: 26px;
  @media @laptop {
    font-size: 16px;
    line-height: 24px;
  }
}


p.large,
p span.large {
  font-size: 20px;
  line-height: 30px;
  @media @laptop {
    font-size: 18px;
    line-height: 28px;
  }
  @media @landscape {
    font-size: 16px;
    line-height: 24px;
  }
}

.disclaimer,
p.disclaimer,
p span.disclaimer {
  font-size: 14px;
  line-height: 20px;
  @media @portrait {
    font-size: 12px;
    line-height: 18px;
  }
}

p.large.supertitle,
p.medium.supertitle {
  @media @landscape {
    margin-bottom: 20px;
  }
}

ul {
  margin-bottom: @margin-bottom-ul;  // 30px
  list-style-type: square;
}

li {
  font-size: @font-size-li;          // 16px
  line-height: @line-height-li;      // 20px
  font-weight: 400;
  text-transform: none;
  margin-bottom: @margin-bottom-li;  // 15px
}

li > ul {
  margin-top: 1.875rem;
}

b, strong {
  font-weight: 600;
}


// Links in Navigation
nav a {
  font-size: @font-size-base;
  font-weight: @font-weight-thin;
}

// Style for hyperlink within paragraph text
p > a {
  text-decoration: underline;
  font-weight: @font-weight-demi;      // 500
}

.alt-title {
  display: block;
}

button {
  overflow: hidden;
  white-space: normal;
}

button,
input[type="button"] {
  border-radius: 0;
}

a:hover > i:hover {
  text-decoration: none !important;
}

p i.mi.mi-video {
  margin-right: 8px;
}

.icon--left {
  margin-right: 6px;
}

.icon--right {
  margin-left: 6px;
}

.font-weight-light {
  font-weight: @font-weight-thin !important;
}

.font-weight-reg {
  font-weight: @font-weight-regular !important;
}

// .font-weight-med {
//   font-weight: @font-weight-med !important;
// }

.font-weight-bold {
  font-weight: @font-weight-demi !important;
}

table p {
  font-size: @font-size-td; // 14px
  line-height: @line-height-td;
  font-weight: @font-weight-thin;
}

i {
  text-decoration: none !important;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--capitalize {
  text-transform: capitalize;
}

.text-transform-uppercase,
span.text-transform-uppercase {
  text-transform: uppercase;
}

.text-transform-capitalize,
span.text-transform-capitalize {
  text-transform: capitalize;
}

.text-transform-none,
span.text-transform-none {
  text-transform: none;
}

.modular-image {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  line-height: 0;
}

.modular-image img {
  max-width: 100%;
  display: block;
}

.mi {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none !important;
}

// chatbot override html inline styles
#drift-widget-container {
  z-index: @z-index-chatbot !important;
}

// Scales base-font-size on devices
@media (max-width: 1024px) {
  html { font-size: @font-size-medium; }
}
@media (max-width: 768px) {
  html { font-size: @font-size-small; }
}
