// Variables
//

// Use this file to override the Bootstrap defaults
// without modifying key, versioned files.


// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components

// General variable structure
//
// Variable format should follow the `@component-modifier-state-property` order.


// Colors
//
// Grayscale and brand colors for use across Medtronic sites.
// Medtronic Primary Blue color palette
@sky-blue:          #71C5E8;
@cobalt-blue:       #0085CA;
@medtronic-blue:    #004B87;
@white:             #FFFFFF;
@pale-gray:         #E8E8E7;

@blue-gray:         #5B7F95;
@charcoal-gray:     #515458;
// Medtronic Accent colors
@yellow:            #FFCE00;
@turquoise:         #00c4B3;
@purple:            #B0008E;
// unofficial colors
@off-white:         #F6F6F6;

// NEW BRAND '21
@electric-blue:     #1010EB;
@navy-blue:         #140F4B;
@dark-gray:         #3C3C3C;
@atmospheric-white: #F5F5F5;
@medium-gray:       #555555;
@black:             #000000;
@light-gray:        #BFBFBF;
@lightest-gray:     #DCDCDC;

@dark-blue:         #100D78;
@medium-blue:       #0C0CA5;
@light-blue:        #0FC9F7;
@green:             #7ECA2A;
@teal:              #00DCB9;

@light-orange:      #FFAD00;
@orange:            #FB7506;
@pink:              #E5057F;
@magenta:           #AC0460;
@light-red:         #FF3056;
@bright-purple:     #C529BB;
@medium-purple:     #871C80;




// Options
//
// Quickly modify global styling by enabling or disabling optional features.

@enable-flex:               true;
@enable-rounded:            false;
//@enable-shadows:            false;
//@enable-gradients:          false;
//@enable-transitions:        false;
//@enable-hover-media-query:  false;
@enable-grid-classes:       true;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

//@spacer:                     1rem;
//@spacer-x:                   @spacer;
//@spacer-y:                   @spacer;
//@spacers: (
//  0: (
//    x:   0,
//    y:   0
//  ),
//  1: (
//    x:   @spacer-x,
//    y:   @spacer-y
//  ),
//  2: (
//    x:   (@spacer-x * 1.5),
//    y:   (@spacer-y * 1.5)
//  ),
//  3: (
//    x:   (@spacer-x * 3),
//    y:   (@spacer-y * 3)
//  )
//);
@border-width:               1px;


// Body
//
// Settings for the `<body>` element.

//@body-bg:                    #fff;
//@body-color:                 @gray-dark;


// Links
//
// Style anchor elements.

//@link-color:                  @accent-2;
//@link-decoration:             none;
//@link-hover-color:          darken(@link-color, 15%);
//@link-hover-decoration:       none;


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// @grid-breakpoints: (
//  // Extra small screen / phone
//  xs:   320px,
//  // Small screen / phone
//  sm:   600px,
//  // Medium screen / tablet-portrait
//  md:   768px,
//  // Large screen / desktop; tablet-landscape
//  lg:   1024px,
//  // Extra large screen / wide desktop
//  xl:   1366px
// );

// Media queries
@desktop:      ~"only screen and (max-width: 4000px)";
@laptop:       ~"only screen and (max-width: 1440px)";
@landscape:    ~"only screen and (max-width: 1024px)";
@portrait:     ~"only screen and (max-width: 768px)";
@mobile:       ~"only screen and (max-width: 500px)";

@grid-breakpoints: (
  xs: 0px,
  sm: 500px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xxl: 4000px
);
// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// @container-max-widths: (
//   xs: 0px,
//   sm: 320px,
//   md: 500px,
//   lg: 768px,
//   xl: 996px,
//   xxl: 1230px
// );


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

@grid-columns:                12;
@grid-gutter-width:           30px; // 30px


@grid-columns:               12;
@grid-gutter-width-base:     30px;
@grid-gutter-widths: (
  xs: @grid-gutter-width-base,
  sm: @grid-gutter-width-base,
  md: @grid-gutter-width-base,
  lg: @grid-gutter-width-base,
  xl: 50px
);


// Standard padding for Content Grids
// Cols refers to number of columns in layout (1 column layout, 2 column layout, etc)
// *Bottom margins = (top margin - 25px) to account for standard 1.575rem/25px bottom margin on text elements

// Desktop
@cols-1-dk:     85px 60px 60px 60px;
@cols-2-dk:     85px 60px 60px 60px;
@cols-3-dk:     85px 50px 60px 50px;
// cols 4 and 5 will probably deprecate
@cols-4-dk:     45px 35px 30px 35px;
@cols-5-dk:     45px 30px 20px 30px;
// *Same padding for all types of 2/3 layouts (2/3, 60/40, etc.)
@cols-2-3-dk:   85px 60px 60px 60px;
@cols-1-3-dk:   85px 60px 60px 60px;

// Tablet Landscape
@cols-1-ls:   70px 50px 45px 50px;
@cols-2-ls:   70px 50px 45px 50px;
@cols-3-ls:   70px 50px 45px 50px;
@cols-2-3-ls: 70px 50px 45px 50px;
@cols-1-3-ls: 70px 50px 45px 50px;

// Tablet Portrait
@cols-1-tb:     55px 35px 30px 35px;
@cols-2-tb:     55px 35px 30px 35px;
@cols-3-tb:     55px 35px 30px 35px;
// cols 4 and 5 will probably deprecate
@cols-4-tb:     50px 35px 25px 35px;
@cols-5-tb:     45px 30px 20px 30px;
// *Same padding for all types of 2/3 layouts (2/3, 60/40, etc.)
@cols-2-3-tb:   55px 35px 30px 35px;
@cols-1-3-tb:   55px 35px 30px 35px;

// Mobile
@cols-1-mb:     55px 25px 30px 25px;
@cols-2-mb:     55px 25px 30px 25px;
@cols-3-mb:     55px 25px 30px 25px;
@cols-4-mb-std: 40px 30px 15px 30px; // standard 4 col layout
@cols-4-mb-alt: 50px 25px 25px 25px; // alternate 4 col layout (products/videos)
@cols-5-mb:     55px 25px 30px 25px;
// *Same padding for all types of 2/3 layouts (2/3, 60/40, etc.)
@cols-2-3-mb:   55px 25px 30px 25px;
@cols-1-3-mb:   55px 25px 30px 25px;

// Special padding for Step by Step Component
@sbs-cols-2-3-dk: 70px 50px;
@sbs-cols-2-3-tb: 60px 30px;
@sbs-cols-2-3-mb: 60px 30px;
@sbs-cols-1-3-dk: 70px 50px;
@sbs-cols-1-3-tb: 70px 50px;
@sbs-cols-1-3-mb: 60px 30px;
@sbs-cols-2-dk: 70px 50px;
@sbs-cols-2-tb: 60px 30px;
@sbs-cols-2-mb: 60px 30px;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// @font-family-sans-serif:       'Effra';
@font-family-sans-serif:       'Avenir Next World W05';
//@font-family-serif:          Georgia, "Times New Roman", Times, serif;
//@font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:            @font-family-sans-serif;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
// See 'Scales base font size on devices' in _typography.scss
@font-size-root:      16px;
@font-size-base:      1rem;
@font-size-medium:    0.9375rem; // 15px
@font-size-small:     0.875rem;  // 14px
@font-size-large:     1.125rem;

// ELEMENT DEFAULTS
@font-size-h1:        2.5rem;   // 40px
@font-size-h2:        2.25rem;  // 36px
@font-size-h3:        1.875rem; // 30px
@font-size-h4:        1.375rem; // 22px
@font-size-h5:        1.125rem; // 18px
@font-size-h6:        1rem;     // 16px
@font-size-p:         1rem;     // 16px
@font-size-li:        1rem;     // 16px
@font-size-button:    1rem;     // 16px

// SPECIFIC
@font-size-icon:         1.25rem;  // 20px
@font-size-btn:          0.9375rem;
@font-size-td:           0.875rem;
@font-size-nav:          0.875rem; // 14px
@font-size-supertitle:   0.875rem;
@font-size-supernav:     0.75rem;
@font-size-ref:          0.75rem;
@font-size-disclaimer:   0.75rem;
@font-size-icon-text:    0.75rem;  // 12px
@font-size-icon-text-lg: 0.875rem;

// LINE HEIGHT DEFAULTS
@line-height-h1:      2.5rem;   // 40px
@line-height-h2:      2.25rem;  // 36px
@line-height-h3:      2.175rem; // 35px
@line-height-h4:      1.6rem;
@line-height-h5:      1.5rem;   // 24px
@line-height-h6:      1.25rem;  // 20px
@line-height-p:       1.6rem;
@line-height-li:      1.25rem;  // 20px
@line-height-button:  1rem;     // 16px
@line-height-td:      1.125rem; // 18px

@font-margin-b:       1.875rem; // 30px default

// TEXT MARGIN DEFAULTS
@margin-bottom-h1:         25px;
@margin-bottom-h2:         25px;
@margin-bottom-h3:         25px;
@margin-bottom-h4:         25px;
@margin-bottom-h5:         25px;
@margin-bottom-h6:         0.9375rem; // 30px or 15px ?
@margin-bottom-p:          25px;
@margin-bottom-ul:         1.875rem;  // 30px
@margin-bottom-li:         0.9375rem; // 15px
@margin-bottom-button:     25px;
@margin-bottom-disclaimer: 0.9375rem; // 15px

@font-margin:              1.5rem;

@margin-top-h2:            0.9375rem; // 15px
@margin-top-button:        5px;


//@display1-size:               6rem;
//@display2-size:               5.5rem;
//@display3-size:               4.5rem;
//@display4-size:               3.5rem;

//@display1-weight:             300;
//@display2-weight:             300;
//@display3-weight:             300;
//@display4-weight:             300;

@font-weight-bold:    700;
@font-weight-demi:    600;
@font-weight-regular: 400;
@font-weight-thin:    250;

//@line-height:                1.5;

// @headings-margin-bottom:     (@spacer / 2);
// @headings-font-family:       inherit;
// @headings-font-weight:       500;
// @headings-line-height:       1.1;
// @headings-color:             inherit;

//@lead-font-size:             1.25rem;
//@lead-font-weight:           300;

//@text-muted:                  @gray-light;

//@abbr-border-color:           @gray-light;

//@blockquote-small-color:      @gray-light;
//@blockquote-font-size:        (@font-size-base * 1.25);
//@blockquote-border-color:     @gray-lighter;

//@hr-border-color:             rgba(0,0,0,.1);
//@hr-border-width:             @border-width;

//@dt-font-weight:              bold;

//@nested-kbd-font-weight:      bold;

//@list-inline-padding:         5px;

// Components
//
// Define common padding and border radius sizes and more.

// MITG Component Divider (Horizontal bar separating components)
@divider-height:  75px;
@divider-color:   @white;


//@line-height-lg:         (4 / 3);
//@line-height-sm:         1.5;

//@border-radius:          .25rem;
//@border-radius-lg:       .3rem;
//@border-radius-sm:       .2rem;

//@component-active-color: #fff;
//@component-active-bg:    @brand-primary;

//@caret-width:            .3em;
//@caret-width-lg:         @caret-width;

@base-spacing:        1.5rem;



// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

// @table-cell-padding:            .75rem;
// @table-sm-cell-padding:         .3rem;

// @table-bg:                      transparent;
// @table-bg-accent:               #f9f9f9;
// @table-bg-hover:                #f5f5f5;
// @table-bg-active:               @table-bg-hover;

@table-border-width:            @border-width;
@table-border-color:            @light-gray;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

@btn-padding:       20px 26px;
@btn-padding-top:   22px;
@btn-padding-left:  28px;
@btn-margin-top:    5px;
@btn-margin-btm:    25px;

//@btn-padding-x:                  1rem;
//@btn-padding-y:                  .375rem;
//@btn-font-weight:                normal;

//@btn-primary-color:              #fff;
//@btn-primary-bg:                 @brand-primary;
//@btn-primary-border:             @btn-primary-bg;

//@btn-secondary-color:            @gray-dark;
//@btn-secondary-bg:               #fff;
//@btn-secondary-border:           #ccc;

//@btn-info-color:                 #fff;
//@btn-info-bg:                    @brand-info;
//@btn-info-border:                @btn-info-bg;

//@btn-success-color:              #fff;
//@btn-success-bg:                 @brand-success;
//@btn-success-border:             @btn-success-bg;

//@btn-warning-color:              #fff;
//@btn-warning-bg:                 @brand-warning;
//@btn-warning-border:             @btn-warning-bg;

//@btn-danger-color:               #fff;
//@btn-danger-bg:                  @brand-danger;
//@btn-danger-border:              @btn-danger-bg;

//@btn-link-disabled-color:        @gray-light;

//@btn-padding-x-sm:               .75rem;
//@btn-padding-y-sm:               .25rem;

//@btn-padding-x-lg:               1.25rem;
//@btn-padding-y-lg:               .75rem;

// Allows for customizing button radius independently from global border radius
//@btn-border-radius:              @border-radius;
//@btn-border-radius-lg:           @border-radius-lg;
//@btn-border-radius-sm:           @border-radius-sm;


// Forms

//@input-padding-x:                .75rem;
//@input-padding-y:                .375rem;

//@input-bg:                       #fff;
//@input-bg-disabled:              @gray-lighter;

//@input-color:                    @gray;
//@input-border-color:             #ccc;
//@input-btn-border-width:         @border-width; // For form controls and buttons
//@input-box-shadow:               inset 0 1px 1px rgba(0,0,0,.075);

//@input-border-radius:            @border-radius;
//@input-border-radius-lg:         @border-radius-lg;
//@input-border-radius-sm:         @border-radius-sm;

//@input-border-focus:             #66afe9;
//@input-box-shadow-focus:         rgba(102,175,233,.6);

//@input-color-placeholder:        #999;

//@input-padding-x-sm:             .75rem;
//@input-padding-y-sm:             .275rem;

//@input-padding-x-lg:             1.25rem;
//@input-padding-y-lg:             .75rem;

//@input-height:                   ((@font-size-base * @line-height) + (@input-padding-y * 2));
//@input-height-lg:                ((@font-size-lg * @line-height-lg) + (@input-padding-y-lg * 2));
//@input-height-sm:                ((@font-size-sm * @line-height-sm) + (@input-padding-y-sm * 2));

//@form-group-margin-bottom:       @spacer-y;

//@input-group-addon-bg:           @gray-lighter;
//@input-group-addon-border-color: @input-border-color;

//@cursor-disabled:                not-allowed;

// Form validation icons
//@form-icon-success: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg==";
//@form-icon-warning: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+";
//@form-icon-danger: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4=";


// Dropdowns
//
// Dropdown menu container and contents.

//@dropdown-bg:                    #fff;
//@dropdown-border-color:          rgba(0,0,0,.15);
//@dropdown-border-width:          @border-width;
//@dropdown-divider-bg:            #e5e5e5;

//@dropdown-link-color:            @gray-dark;
//@dropdown-link-hover-color:      darken(@gray-dark, 5%);
//@dropdown-link-hover-bg:         #f5f5f5;

//@dropdown-link-active-color:     @component-active-color;
//@dropdown-link-active-bg:        @component-active-bg;

//@dropdown-link-disabled-color:   @gray-light;

//@dropdown-header-color:          @gray-light;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

//@zindex-navbar:            1000;
//@zindex-dropdown:          1000;
//@zindex-popover:           1060;
//@zindex-tooltip:           1070;
//@zindex-navbar-fixed:      1030;
//@zindex-navbar-sticky:     1030;

@z-index-video-icon:          4;
@z-index-statbox:             38;
@z-index-icon-toggle-sticky:  39;
@z-index-secondary-nav:       41;
@z-index-modal-bg:            5040;
@z-index-modal:               5050;
@z-index-searchbar:           1009;
@z-index-ad:                  1000;
@z-index-chatbot:             5 !important;
@z-index-circle:              10;
@z-index-circle-text:         11;

//
// @z-index-layer-10: 10; // regular content
// @z-index-layer-20: 20; // header, footer
// @z-index-layer-30: 30; // language selector dropdown
// @z-index-layer-40: 40; // chatbot, filters
// @z-index-layer-45: 45; // pop-up video bg
// @z-index-layer-50: 50; // pop-up videos
// @z-index-layer-60: 60; // secondary nav
// @z-index-layer-65: 65; // bgs
// @z-index-layer-70: 70; // slide out menus, table overlays, gated assets
// @z-index-layer-75: 75; // modal bg
// @z-index-layer-80: 80; // modal (HCP pop up)
//
// @z-index-statbox:            @z-index-layer-20;
// @z-index-header:             @z-index-layer-20;
// @z-index-footer:             @z-index-layer-20;
// @z-index-lang-selector:      @z-index-layer-30;
// @z-index-chatbot:            @z-index-layer-40;
// @z-index-filter-dropdowns:   @z-index-layer-40;
// @z-index-popup-video-bg:     @z-index-layer-45;
// @z-index-popup-video:        @z-index-layer-50;
// @z-index-icon-toggle-sticky: @z-index-layer-50;
// @z-index-secondary-nav:      @z-index-layer-60;
// @z-index-searchbar:          @z-index-layer-60;
// @z-index-table-overlay-bg:   @z-index-layer-65;
// @z-index-table-overlay:      @z-index-layer-70;
// @z-index-slideout-menu:      @z-index-layer-70;
// @z-index-gated-asset:        @z-index-layer-70;
// @z-index-modal-bg:           @z-index-layer-75;
// @z-index-modal:              @z-index-layer-80;
// @z-index-ad:                 @z-index-layer-80;


// Navbar

//@navbar-border-radius:              @border-radius;
//@navbar-padding-horizontal:         @spacer;
//@navbar-padding-vertical:           (@spacer / 2);

//@navbar-dark-color:                 rgba(255,255,255,.5);
//@navbar-dark-hover-color:           rgba(255,255,255,.75);
//@navbar-dark-active-color:          rgba(255,255,255,1);
//@navbar-dark-disabled-color:        rgba(255,255,255,.25);

// @navbar-light-color:                @neutral-light; // rgba(0,0,0,.3);
// @navbar-light-hover-color:          @accent-7; // rgba(0,0,0,.6);
// @navbar-light-active-color:         @neutral-darkest; // rgba(0,0,0,.8);
// @navbar-light-disabled-color:       rgba(0,0,0,.15);


// Navs

//@nav-link-padding:                          .5em 1em;
//@nav-link-hover-bg:                         @gray-lighter;

//@nav-disabled-link-color:                   @gray-light;
//@nav-disabled-link-hover-color:             @gray-light;

//@nav-tabs-border-color:                     #ddd;

//@nav-tabs-link-border-width:                @border-width;
//@nav-tabs-link-hover-border-color:          @gray-lighter;

//@nav-tabs-active-link-hover-bg:             @body-bg;
//@nav-tabs-active-link-hover-color:          @gray;
//@nav-tabs-active-link-hover-border-color:   #ddd;

//@nav-tabs-justified-link-border-color:            #ddd;
//@nav-tabs-justified-active-link-border-color:     @body-bg;

//@nav-pills-border-radius:                   @border-radius;
//@nav-pills-active-link-hover-bg:            @component-active-bg;
//@nav-pills-active-link-hover-color:         @component-active-color;


// Pagination

//@pagination-padding-x:                .75rem;
//@pagination-padding-y:                .5rem;
//@pagination-padding-x-sm:             .75rem;
//@pagination-padding-y-sm:             .275rem;
//@pagination-padding-x-lg:             1.5rem;
//@pagination-padding-y-lg:             .75rem;


//@pagination-color:                     @link-color;
//@pagination-bg:                        #fff;
//@pagination-border-width:              @border-width;
//@pagination-border-color:              #ddd;

//@pagination-hover-color:               @link-hover-color;
//@pagination-hover-bg:                  @gray-lighter;
//@pagination-hover-border:              #ddd;

//@pagination-active-color:              #fff;
//@pagination-active-bg:                 @brand-primary;
//@pagination-active-border:             @brand-primary;

//@pagination-disabled-color:            @gray-light;
//@pagination-disabled-bg:               #fff;
//@pagination-disabled-border:           #ddd;


// Pager

//@pager-bg:                             @pagination-bg;
//@pager-border-width:                   @border-width;
//@pager-border-color:                   @pagination-border-color;
//@pager-border-radius:                  15px;

//@pager-hover-bg:                       @pagination-hover-bg;

//@pager-active-bg:                      @pagination-active-bg;
//@pager-active-color:                   @pagination-active-color;

//@pager-disabled-color:                 @pagination-disabled-color;


// Jumbotron

//@jumbotron-padding:              2rem;
//@jumbotron-bg:                   @gray-lighter;


// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.

//@state-success-text:             #3c763d;
//@state-success-bg:               #dff0d8;
//@state-success-border:           darken(@state-success-bg, 5%);

//@state-info-text:                #31708f;
//@state-info-bg:                  #d9edf7;
//@state-info-border:              darken(@state-info-bg, 7%);

//@state-warning-text:             #8a6d3b;
//@state-warning-bg:               #fcf8e3;
//@state-warning-border:           darken(@state-warning-bg, 5%);

//@state-danger-text:              #a94442;
//@state-danger-bg:                #f2dede;
//@state-danger-border:            darken(@state-danger-bg, 5%);


// Cards
@card-spacer-x:            1rem;
@card-spacer-y:            1rem;
@card-border-width:        0;
@card-border-radius:       0;
// @card-border-color:        #e5e5e5;
@card-border-radius-inner: 0;
// @card-cap-bg:              #f5f5f5;
@card-bg:                  @white;

@card-link-hover-color:    #fff;


// Tooltips

//@tooltip-max-width:           200px;
//@tooltip-color:               #fff;
//@tooltip-bg:                  #000;
//@tooltip-opacity:             .9;

//@tooltip-arrow-width:         5px;
//@tooltip-arrow-color:         @tooltip-bg;


// Popovers

//@popover-bg:                          #fff;
//@popover-max-width:                   276px;
//@popover-border-width:                @border-width;
//@popover-border-color:                rgba(0,0,0,.2);

//@popover-title-bg:                    darken(@popover-bg, 3%);

//@popover-arrow-width:                 10px;
//@popover-arrow-color:                 @popover-bg;

//@popover-arrow-outer-width:           (@popover-arrow-width + 1);
//@popover-arrow-outer-color:           fade-in(@popover-border-color, 0.05);


// Labels

//@label-default-bg:            @gray-light;
//@label-primary-bg:            @brand-primary;
//@label-success-bg:            @brand-success;
//@label-info-bg:               @brand-info;
//@label-warning-bg:            @brand-warning;
//@label-danger-bg:             @brand-danger;

//@label-color:                 #fff;
//@label-link-hover-color:      #fff;
//@label-font-weight:           bold;


// Modals

// Padding applied to the modal body
@modal-padding-dk:              85px 75px 60px 75px;
@modal-padding-tb:              70px 55px 45px 55px;
@modal-padding-mb:              60px 30px 35px 30px;
//@modal-title-padding:         15px;
//@modal-title-line-height:     @line-height;

//@modal-content-bg:                             #fff;
//@modal-content-border-color:                   rgba(0,0,0,.2);

@modal-overlay-bg:           #000;
@modal-overlay-opacity:      0.75;
//@modal-header-border-color:   #e5e5e5;
//@modal-footer-border-color:   @modal-header-border-color;

//@modal-lg:                    900px;
//@modal-md:                    600px;
//@modal-sm:                    300px;
@modal-width:                   500px;

@popup-padding-dk:              70px 50px 45px 50px;
@popup-padding-tb:              70px 50px 45px 50px;
@popup-padding-mb:              60px 30px 35px 30px;

@popup-overlay-bg:              @white;

@popup-width:                   700px;
@popup-height:                  500px;
@popup-max-width:               95%;

// Alerts
//
// Define alert colors, border radius, and padding.

//@alert-padding:               15px;
//@alert-border-radius:         @border-radius;
//@alert-link-font-weight:      bold;
//@alert-border-width:          @border-width;

//@alert-success-bg:            @state-success-bg;
//@alert-success-text:          @state-success-text;
//@alert-success-border:        @state-success-border;

//@alert-info-bg:               @state-info-bg;
//@alert-info-text:             @state-info-text;
//@alert-info-border:           @state-info-border;

//@alert-warning-bg:            @state-warning-bg;
//@alert-warning-text:          @state-warning-text;
//@alert-warning-border:        @state-warning-border;

//@alert-danger-bg:             @state-danger-bg;
//@alert-danger-text:           @state-danger-text;
//@alert-danger-border:         @state-danger-border;


// Progress bars

//@progress-bg:                 #f5f5f5;
//@progress-bar-color:          #fff;
//@progress-border-radius:      @border-radius;

//@progress-bar-bg:             @brand-primary;
//@progress-bar-success-bg:     @brand-success;
//@progress-bar-warning-bg:     @brand-warning;
//@progress-bar-danger-bg:      @brand-danger;
//@progress-bar-info-bg:        @brand-info;


// List group

//@list-group-bg:                 #fff;
//@list-group-border-color:       #ddd;
//@list-group-border-width:       @border-width;
//@list-group-border-radius:      @border-radius;

//@list-group-hover-bg:           #f5f5f5;
//@list-group-active-color:       @component-active-color;
//@list-group-active-bg:          @component-active-bg;
//@list-group-active-border:      @list-group-active-bg;
//@list-group-active-text-color:  lighten(@list-group-active-bg, 40%);

//@list-group-disabled-color:      @gray-light;
//@list-group-disabled-bg:         @gray-lighter;
//@list-group-disabled-text-color: @list-group-disabled-color;

//@list-group-link-color:         #555;
//@list-group-link-hover-color:   @list-group-link-color;
//@list-group-link-heading-color: #333;


// Image thumbnails

//@thumbnail-padding:           .25rem;
//@thumbnail-bg:                @body-bg;
//@thumbnail-border-width:      @border-width;
//@thumbnail-border-color:      #ddd;
//@thumbnail-border-radius:     @border-radius;


// Breadcrumbs

//@breadcrumb-padding-vertical:   .75rem;
//@breadcrumb-padding-horizontal: 1rem;

//@breadcrumb-bg:                 @gray-lighter;
//@breadcrumb-divider-color:      @gray-light;
//@breadcrumb-active-color:       @gray-light;
//@breadcrumb-divider:            "/";


// Carousel

//@carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);

//@carousel-control-color:                      #fff;
@carousel-control-width:                      20%;
//@carousel-control-opacity:                    .5;
//@carousel-control-font-size:                  20px;

//@carousel-indicator-active-bg:                #fff;
//@carousel-indicator-border-color:             #fff;

//@carousel-caption-color:                      #fff;


// Close

//@close-font-weight:           bold;
//@close-color:                 #000;
//@close-text-shadow:           0 1px 0 #fff;


// Code

//@code-color:                  #bd4147;
//@code-bg:                     #f7f7f9;

//@kbd-color:                   #fff;
//@kbd-bg:                      #333;

//@pre-bg:                      #f7f7f9;
//@pre-color:                   @gray-dark;
//@pre-border-color:            #ccc;
//@pre-scrollable-max-height:   340px;
