// For AEM style system
.bg-color--sky-blue .target {
  background-color: @sky-blue;
}

.bg-color--cobalt-blue .target {
  background-color: @cobalt-blue;
}

.bg-color--medtronic-blue .target {
  background-color: @medtronic-blue;
}

.bg-color--white .target {
  background-color: @white;
}

.bg-color--pale-gray .target {
  background-color: @pale-gray;
}

.bg-color--light-gray .target {
  background-color: @light-gray;
}

.bg-color--blue-gray .target {
  background-color: @blue-gray;
}

.bg-color--charcoal-gray .target {
  background-color: @charcoal-gray;
}

.bg-color--yellow .target {
  background-color: @yellow;
}

.bg-color--turquoise .target {
  background-color: @turquoise;
}

.bg-color--purple .target {
  background-color: @purple;
}

.bg-color--off-white .target {
  background-color: @off-white;
}

.bg-color--electric-blue .target {
  background-color: @electric-blue;
}

.bg-color--navy-blue .target {
  background-color: @navy-blue;
}

.bg-color--dark-gray .target {
  background-color: @dark-gray;
}

.bg-color--atmospheric-white .target {
  background-color: @atmospheric-white;
}

.bg-color--medium-gray .target {
  background-color: @medium-gray;
}

.bg-color--black .target {
  background-color: @black;
}

.bg-color--dark-blue .target {
  background-color: @dark-blue;
}

.bg-color--medium-blue .target {
  background-color: @medium-blue;
}

.bg-color--light-blue .target {
  background-color: @light-blue;
}

.bg-color--green .target {
  background-color: @green;
}

.bg-color--teal .target {
  background-color: @teal;
}

.bg-color--light-orange .target {
  background-color: @light-orange;
}

.bg-color--orange .target {
  background-color: @orange;
}

.bg-color--pink .target {
  background-color: @pink;
}

.bg-color--magenta .target {
  background-color: @magenta;
}

.bg-color--light-red .target {
  background-color: @light-red;
}

.bg-color--bright-purple .target {
  background-color: @bright-purple;
}

.bg-color--medium-purple .target {
  background-color: @medium-purple;
}
