.comp__background-circle-animation.text-on-side {
  .component-reset();
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  background-color: transparent;

  .fill-space {
    width: 100%;
    height: 100%;
  }

  .modular-image,
  .modular-copy {
    height: 100%;
  }

  .row {
    .outer-gutter();
    .make-col-span(12);
    .box-size();
    padding-left: 0 !important;
    padding-right: 0 !important;
    @media @portrait {
      .make-col-span(12);
      .flex-wrap(wrap);
    }
  }

  .panel {
    min-height: 850px;
    @media @laptop {
      min-height: 675px;
    }
    @media @landscape {
      min-height: 512px;
    }
    @media @portrait {
      min-height: 0;
      height: auto;
    }
  }

  .panel--50 {
    @media @portrait {
      .make-col-span(12);
      max-width: 100%;
    }
  }

  .modular-copy {
    .flexbox();
    position: relative;
    height: 100%;
  }

  .modular-copy {
    .flexbox();
    .flex-direction(column);
    .justify-content(center);
    position: relative;
    padding: 115px 150px;
    min-height: 600px;
    height: 100%;
    z-index: 2;
    color: @white !important;
    @media @laptop {
      padding: 115px 135px;
      max-width: auto;
      min-height: 475px;
      height: 100%;
    }
    @media @landscape {
      padding: 90px 60px;
      min-height: 332px;
      height: 100%;
    }
    @media @portrait {
      padding: 75px 50px 0px 50px;
      max-width: 100%;
      min-height: 0;
      height: auto;
    }
    @media @mobile {
      padding: 75px 35px 25px 35px;
    }
  }

  .dynamic-width-button--invisible {
    .invisible-button(@white, @black);
    padding: 14px 32px;
    @media @mobile {
      padding: 12px 28px;
    }
  }

  .modular-image {
    padding: 0;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    @media @portrait {
      height: 425px;
      text-align: center;
    }
    @media @mobile {
      height: 400px;
      text-align: center;
    }

    img {
      display: block;
      z-index: 2;
      height: 100%;
      @media @portrait {
        display: unset;
      }
    }
  }

  &.text-on-side--right {
    @media @portrait {
      .row {
        .flex-flow(wrap-reverse);
      }
    }
  }
  &.text-on-side--left {
    @media @portrait {
      .row {
        .flex-flow(wrap);
      }
    }
  }
}

.comp__background-circle-animation.text-on-top {
  .component-reset();
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  background-color: transparent;
  text-align: center;

  .row {
    .outer-gutter();
    .flex-wrap(wrap);
    padding-left: 125px;
    padding-right: 125px;
    @media @landscape {
      padding-left: 80px;
      padding-right: 80px;
    }
    @media @portrait {
      padding-left: 100px;
      padding-right: 100px;
    }
    @media @mobile {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .panel--50 {
    .make-col-span(12);
    max-width: 100%;
  }

  .fill-space {
    width: 100%;
    height: 100%;
  }

  .modular-image,
  .modular-copy {
    height: 100%;
  }

  .modular-image {
    text-align: center;
    line-height: 0;
    img {
      display: unset;
    }
  }

  .copy {
    text-align: center;
    z-index: 2;
    color: @white !important;
    padding-top: 115px;
    @media @landscape {
      padding-top: 90px;
    }
    @media @portrait {
      padding-top: 75px;
      padding-bottom: 30px;
    }
    @media @mobile {
      padding-bottom: 25px;
    }

    h3, h4, h5, h6 {
      font-weight: @font-weight-demi;
      text-decoration: none;
    }
  }

  .cta-link {
    display: block;
  }

  img {
    z-index: 2;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    height: 600px;
    @media @landscape {
      height: 500px;
    }
    @media @portrait {
      height: 425px;
    }
    @media @mobile {
      height: 400px;
    }
  }
}

.comp__background-circle-animation {
  .circle {
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    height: 770px;
    width: 770px;
    top: 75%;
    left: 25%;
    @media @laptop {
      height: 700px;
      width: 700px;
      top: 75%;
      left: 25%;
    }
    @media @landscape {
      height: 480px;
      width: 480px;
      top: 75%;
      left: 25%;
    }
    @media @portrait {
      height: 480px;
      width: 480px;
      top: 50%;
      left: 17.5%;
    }
    @media @mobile {
      display: none;
    }

    &.circle.in-view {
      animation: grow_dk 3s;
      -webkit-animation: grow_dk 3s;
      -moz-animation: grow_dk 3s;
      -o-animation: grow_dk 3s;
      -ms-animation: grow_dk 3s;
      animation-fill-mode: forwards;
      @media @laptop {
        animation: grow_lp 3s;
        -webkit-animation: grow_lp 3s;
        -moz-animation: grow_lp 3s;
        -o-animation: grow_lp 3s;
        -ms-animation: grow_lp 3s;
        animation-fill-mode: forwards;
      }
      @media @landscape {
        animation: grow_dk 3s;
        -webkit-animation: grow_ld 3s;
        -moz-animation: grow_ld 3s;
        -o-animation: grow_ld 3s;
        -ms-animation: grow_ld 3s;
        animation-fill-mode: forwards;
      }
      @media @portrait {
        animation: grow_pt 3s;
        -webkit-animation: grow_pt 3s;
        -moz-animation: grow_pt 3s;
        -o-animation: grow_pt 3s;
        -ms-animation: grow_pt 3s;
        animation-fill-mode: forwards;
      }
      @media @mobile {
        animation: none;
      }
    }
  }

  @keyframes grow_dk {
    0% {
      border-radius: 50%;
      height: 770px;
      width: 770px;
    }
    50% {
      border-radius: 50%;
      transform: scale(1);
      transform: translate3d(0px, -600px, 0px);
    }
    100% {
      border-radius: 50%;
      transform: scale(5);
      animation-timing-function: ease-in;
      background-color: @black;
    }
  }
  @keyframes grow_lp {
    0% {
      border-radius: 50%;
      height: 700px;
      width: 700px;
    }
    50% {
      border-radius: 50%;
      transform: scale(1);
      transform: translate3d(0px, -600px, 0px);
    }
    100% {
      border-radius: 50%;
      transform: scale(5);
      animation-timing-function: ease-in;
      background-color: @black;
    }
  }
  @keyframes grow_ld {
    0% {
      border-radius: 50%;
      height: 480px;
      width: 480px;
      top: 75%;
      left: 25%;
    }
    50% {
      border-radius: 50%;
      transform: scale(1);
      transform: translate3d(0px, -600px, 0px);
    }
    100% {
      border-radius: 50%;
      transform: scale(5);
      animation-timing-function: ease-in;
      background-color: @black;
    }
  }
  @keyframes grow_pt {
    0% {
      border-radius: 50%;
      height: 480px;
      width: 480px;
      top: 50%;
      left: 17.5%;
    }
    50% {
      border-radius: 50%;
      transform: scale(1);
      transform: translate3d(0px, -600px, 0px);
    }
    100% {
      border-radius: 50%;
      transform: scale(5);
      animation-timing-function: ease-in;
      background-color: @black;
    }
  }

  @media @mobile {
    background-color: @black !important;
  }

  // @-moz-keyframes grow {
  //   0% {
  //     border-radius: 50%;
  //     height: 770px;
  //     width: 770px;
  //     top: 75%;
  //     left: 25%;
  //   }
  //   50% {
  //     border-radius: 50%;
  //     -moz-transform: scale(1);
  //     -moz-transform: translate3d(0px, -600px, 0px);
  //   }
  //   100% {
  //     border-radius: 50%;
  //     -moz-transform: scale(5);
  //     animation-timing-function: ease-in;
  //     background-color: @black;
  //   }
  // }
  //
  // @-webkit-keyframes grow {
  //   0% {
  //     border-radius: 50%;
  //     height: 770px;
  //     width: 770px;
  //     top: 75%;
  //     left: 25%;
  //   }
  //   50% {
  //     border-radius: 50%;
  //     -webkit-transform: scale(1);
  //     -webkit-transform: translate3d(0px, -600px, 0px);
  //   }
  //   100% {
  //     border-radius: 50%;
  //     -webkit-transform: scale(5);
  //     animation-timing-function: ease-in;
  //     background-color: @black;
  //   }
  // }
  //
  // @-o-keyframes grow {
  //   0% {
  //     border-radius: 50%;
  //     height: 770px;
  //     width: 770px;
  //     top: 75%;
  //     left: 25%;
  //   }
  //   50% {
  //     border-radius: 50%;
  //     -o-transform: scale(1);
  //     -o-transform: translate3d(0px, -600px, 0px);
  //   }
  //   100% {
  //     border-radius: 50%;
  //     -o-transform: scale(5);
  //     animation-timing-function: ease-in;
  //     background-color: @black;
  //   }
  // }
  //
  // @-ms-keyframes grow {
  //   0% {
  //     border-radius: 50%;
  //     height: 770px;
  //     width: 770px;
  //     top: 75%;
  //     left: 25%;
  //   }
  //   50% {
  //     border-radius: 50%;
  //     -ms-transform: scale(1);
  //     -ms-transform: translate3d(0px, -600px, 0px);
  //   }
  //   100% {
  //     border-radius: 50%;
  //     -ms-transform: scale(5);
  //     animation-timing-function: ease-in;
  //     background-color: @black;
  //   }
  // }
  //
  // @keyframes grow_lp {
  //
  // }
}
