.background-position--center {
  @media @portrait {
    .background-position(center);
  }
}

.background-position--left {
  @media @portrait {
    .background-position(left);
  }
}

.background-position--right {
  @media @portrait {
    .background-position(right);
  }
}
