.modular-image.featured-circles {
  display: block;
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  figure {
    height: 900px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media @laptop {
      height: 800px;
    }
    @media @mobile {
      height: 615px;
    }
  }

  .circle {
    background-color: @electric-blue;
    z-index: @z-index-circle;
    position: absolute;
    color: @white;
    border-radius: 50%;
    .flexbox();
    .flex-direction(column);
    .justify-content(center);
    .align-items(center);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }

  .circle--lg {
    height: 336px;
    width: 336px;
    font-size: 36px;
    line-height: 42px;
    > span {
      padding: 55px;
    }
    @media @laptop {
      height: 276px;
      width: 276px;
      font-size: 30px;
      line-height: 34px;
      > span {
        padding: 45px;
      }
    }
    @media @landscape {
      height: 225px;
      width: 225px;
      font-size: 24px;
      line-height: 27px;
      > span {
        padding: 35px;
      }
    }
    @media @portrait {
      height: 225px;
      width: 225px;
      font-size: 24px;
      line-height: 27px;
      > span {
        padding: 35px;
      }
    }
    @media @mobile {
      height: 175px;
      width: 175px;
      font-size: 18px;
      line-height: 22px;
      > span {
        padding: 20px;
      }
    }
    &.top-right {
      top: 115px;
      right: 285px;
      @media @laptop {
        top: 65px;
        right: 95px;
      }
      @media @landscape {
        top: 50px;
        right: 75px;
      }
      @media @portrait {
        top: 50px;
        right: 50px;
      }
      @media @mobile {
        top: 35px;
        right: 25px;
      }
    }
    &.top-left {
      top: 115px;
      left: 285px;
      @media @laptop {
        top: 65px;
        left: 95px;
      }
      @media @landscape {
        top: 50px;
        left: 75px;
      }
      @media @portrait {
        top: 50px;
        left: 50px;
      }
      @media @mobile {
        top: 35px;
        left: 25px;
      }
    }
    &.bottom-right {
      bottom: 115px;
      right: 285px;
      @media @laptop {
        bottom: 65px;
        right: 95px;
      }
      @media @landscape {
        bottom: 50px;
        right: 75px;
      }
      @media @portrait {
        bottom: 50px;
        right: 50px;
      }
      @media @mobile {
        bottom: 35px;
        right: 25px;
      }
    }
    &.bottom-left {
      bottom: 115px;
      left: 285px;
      @media @laptop {
        bottom: 65px;
        left: 95px;
      }
      @media @landscape {
        bottom: 50px;
        left: 75px;
      }
      @media @portrait {
        bottom: 50px;
        left: 50px;
      }
      @media @mobile {
        bottom: 35px;
        left: 25px;
      }
    }
  }

  .circle--sm {
    height: 274px;
    width: 274px;
    font-size: 28px;
    line-height: 34px;
    > span {
      padding: 50px;
    }
    @media @laptop {
      height: 234px;
      width: 234px;
      font-size: 24px;
      line-height: 28px;
      > span {
        padding: 40px;
      }
    }
    @media @landscape {
      height: 186px;
      width: 186px;
      font-size: 18px;
      line-height: 21px;
      > span {
        padding: 35px;
      }
    }
    @media @portrait {
      height: 186px;
      width: 186px;
      font-size: 18px;
      line-height: 21px;
      > span {
        padding: 35px;
      }
    }
    @media @mobile {
      height: 125px;
      width: 125px;
      font-size: 14px;
      line-height: 18px;
      > span {
        padding: 15px;
      }
    }
    &.top-right {
      top: 145px;
      right: 358px;
      @media @laptop {
        top: 95px;
        right: 200px;
      }
      @media @landscape {
        top: 75px;
        right: 110px;
      }
      @media @portrait {
        top: 50px;
        right: 50px;
      }
      @media @mobile {
        top: 40px;
        right: 25px;
      }
    }
    &.top-left {
      top: 145px;
      left: 358px;
      @media @laptop {
        top: 95px;
        left: 200px;
      }
      @media @landscape {
        top: 75px;
        left: 110px;
      }
      @media @portrait {
        top: 50px;
        left: 50px;
      }
      @media @mobile {
        top: 40px;
        left: 25px;
      }
    }
    &.bottom-right {
      bottom: 145px;
      right: 358px;
      @media @laptop {
        bottom: 95px;
        right: 200px;
      }
      @media @landscape {
        bottom: 75px;
        right: 110px;
      }
      @media @portrait {
        bottom: 50px;
        right: 50px;
      }
      @media @mobile {
        bottom: 40px;
        right: 25px;
      }
    }
    &.bottom-left {
      bottom: 145px;
      left: 358px;
      @media @laptop {
        bottom: 95px;
        left: 200px;
      }
      @media @landscape {
        bottom: 75px;
        left: 110px;
      }
      @media @portrait {
        bottom: 50px;
        left: 50px;
      }
      @media @mobile {
        bottom: 40px;
        left: 25px;
      }
    }
  }

  &.animation-element {
    position: relative;
    z-index: 1;
  }

  &.bounce-up .bounce-up-target {
    opacity: 0;
    -moz-transition: all 850ms ease-out;
    -webkit-transition: all 850ms ease-out;
    -o-transition: all 850ms ease-out;
    transition: all 850ms ease-out;
    -moz-transform: translate3d(0px, 300px, 0px);
    -webkit-transform: translate3d(0px, 300px, 0px);
    -o-transform: translate(0px, 300px);
    -ms-transform: translate(0px, 300px);
    transform: translate3d(0px, 300px, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    @media @portrait {
      opacity: 1;
      -moz-transition: none;
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
      -moz-transform: none;
      -webkit-transform: none;
      -o-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }

  &.bounce-up.in-view .bounce-up-target {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    @media @portrait {
      -moz-transform: none;
      -webkit-transform: none;
      -o-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }
}
