.section-link {
  .flexbox();
  .flex-wrap(nowrap);
  .align-items(center);

  .link-text {
    font-size: 24px;
    font-weight: @font-weight-demi;
    text-transform: none;
    @media @laptop {
      font-size: 22px;
    }
    @media @landscape {
      font-size: 18px;
    }
  }

  .link-icon {
    font-size: 24px;
    @media @laptop {
      font-size: 22px;
    }
    @media @landscape {
      font-size: 18px;
    }
  }

  .material-icons.link-icon,
  .material-icons-outlined.link-icon {
    font-size: 24px;
  }

  .icon--right {
    margin-left: 6px;
  }

  .icon--left {
    margin-right: 6px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }
}

.cta-link,
.cta-link .button {
  .flexbox();
  .flex-wrap(nowrap);
  .align-items(center);

  .link-text {
    font-size: 18px;
    font-weight: @font-weight-demi;
    text-transform: none;
    @media @landscape {
      font-size: 16px;
    }
  }

  .link-icon {
    font-size: 18px;
    @media @landscape {
      font-size: 16px;
    }
  }

  .material-icons.link-icon,
  .material-icons-outlined.link-icon {
    font-size: 24px;
  }

  .icon--right {
    margin-left: 5px;
  }

  .icon--left {
    margin-right: 5px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }
}
