.panel--100 {
  .panel-100();
}

.panel--66 {
  .panel-66();
}

.panel--60 {
  .panel-60();
}

.panel--50 {
  .panel-50();
}

.panel--40 {
  .panel-40();
}

.panel--33 {
  .panel-33();
}

.panel--25 {
  .panel-25();
}

.panel--20 {
  .panel-20();
}
