.modular-table {
  min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
  background-color: @white;
  overflow-x: scroll;

  table {

    thead {
      border-bottom: 1px solid @light-gray;
    }

    th, td {
      line-height: 24px;
      color: @dark-gray;
      text-align: left;
      vertical-align: middle;
      padding: 28px 24px;
      @media @portrait {
        white-space: nowrap;
        padding: 25px 20px;
      }
    }

    th {
      font-size: 18px;
      font-weight: @font-weight-demi;
      white-space: nowrap;
    }

    tr {
      border-top: 1px solid @light-gray;
      &:first-child {
        border-top: 0 none;
      }
    }
  }

  &.theme--alternating-white {
    table tbody tr:nth-of-type(odd) {
      background-color: #f5f5f5;
    }
  }
  &.theme--solid-white {
    table tbody tr:nth-of-type(odd) {
      background-color: @white;
    }
  }
}
