.video-icon {
  position: absolute;
  z-index: @z-index-video-icon;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;

  .mi-btb-times::before {
    line-height: 0;
    margin: 0;
    padding: 0;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.73;
  }
}

.video-overlay-container {
  background-color: @white;
  &.in {
    opacity: 1 !important;
  }

  video {
    border-radius: 0 !important;
  }
}

.close-video-overlay {
  color: @electric-blue;
  font-size: 40px;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 40px;
  right: 100px;
  z-index: 5052;
  &:hover {
    cursor: pointer;
  }
  @media only screen and (max-width: 1441px) {
    top: 20px;
    right: 20px;
  }
}

.video-overlay-modal {
  width: 1280px;
  height: auto;
  @media @laptop {
    width: 1105px;
  }
  @media @landscape {
    width: 100%;
  }
}


/* INLINE VIDEOS */
.close-inplacevideo {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  .kill-webkit();
  .flexbox();
  .align-items(center);
  .justify-content(space-around);
  background-color: @electric-blue;
  color: @white;
  border: 0 none;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  display: none;
  &:hover {
    cursor: pointer;
    opacity: 0.73;
  }
}
// 1-col
.comp__multi-column-mixed-content .grid-container.one-col {
  .close-inplacevideo {
    .inplacevideo-size(1);
    .inplacevideo-position(1);
  }
}
// 2-col
.comp__tall-image-with-text .panel.panel--50 {
  .close-inplacevideo {
    .inplacevideo-size(2);
    .inplacevideo-position(2);
  }
}
.comp__multi-column-mixed-content .grid-container.two-col {
  .close-inplacevideo {
    .inplacevideo-size(2);
    .inplacevideo-position(2);
  }
}
// 3-col
.comp__multi-column-mixed-content .grid-container.three-col {
  .close-inplacevideo {
    .inplacevideo-size(3);
    .inplacevideo-position(3);
  }
}
// 4-col
.comp__multi-column-mixed-content .grid-container.four-col {
  .close-inplacevideo {
    .inplacevideo-size(4);
    .inplacevideo-position(4);
  }
}

.fill-space {
  .inPlaceVideoPlayerContainer .videoplayer video {
    height: auto !important;
  }
}
